%p
  %input#designfile{:type=>'file', :name=>'design-file', :style=>'display:none;'}
#info-area.font10
  %span= image_tag '/images/mock/category/category.png', :size => '20x20'
  %span.space.font11= @contest.title
  %i.icon-info-sign
  %span.space= "¥#{@contest.price}"
  %i.icon-time
  %span= "残り#{@contest.time}時間"
  %span.space{:style=>'color:gray'}
    &nbsp;
    (日本時間 2012年2月24日18:00)
  %a.btn.right{:onClick => "$('#designfile').click();"}
    %b + 新しいデザイン
  .clear