%p
  %input#designfile{:type=>'file', :name=>'design-file', :style=>'display:none;'}
#info-area.font10
  %div.left
    %div
      %span= image_tag '/images/mock/category/category.png', :size => '20x20'
      %span.space.font11= @contest.title
      %i.icon-info-sign
      %span.space= "¥#{@contest.price}"
      %i.icon-time
      %span= "残り#{@contest.time}時間"
      %span.space{:style=>'color:gray'}
        &nbsp;
        (日本時間 2012年2月24日18:00)
    %div{:style=>'margin-top: 5px;'}
      %span= @contest.client
      %span= image_tag "/images/mock/flag/jp.png",:size => '15x15'
  %div.right
    %div
      %a.btn.btn-warning{:style=>'width:150px;',:onClick => "$('#designfile').click();"}
        %b.design-upload + デザインを投稿
    %div{:style=>'margin-top:5px;'}
      %a.btn{:style=>'width:150px;'}
        ウォッチリストに追加
  .clear
