#info-area.font10
  .left
    %div
      .left.space.font12{:style=>'padding-top:7px;'}
        = @contest.title
        &nbsp;&nbsp;
        = Mock::Category.find(@contest.category).name
      .left.font11
        = image_tag '/images/mock/icon/client.png', :size=>'25x25'
        &nbsp;
        = @contest.client
        &nbsp;
        = image_tag "/images/mock/flag/#{@contest.flag}.png",:size => '20x20'
      .clear
    %div{:style=>'margin-top:10px;'}
      .left.space.font11
        = image_tag '/images/mock/icon/money.png', :size=>'25x25'
        &nbsp;
        = "¥#{@contest.price}"
      .left.font11
        = image_tag '/images/mock/icon/time.png', :size=>'25x25'
        &nbsp;
        残り
        %span{:style=>'color:red;font-size:14pt;'}= "#{@contest.time}時間"
      .clear
  .right
    - if !signed_in or current_user.usertype == 'creator' 
      %div
        %a.btn.btn-warning{:style=>'width:150px;',:onClick => "$('#designfile').click();"}
          %b.design-upload + デザインを投稿
    %div{:style=>'margin-top:5px;'}
      %a.btn{:style=>'width:150px;'}
        ウォッチリストに追加
  .clear
