= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/top.css"
  :javascript
      $(function() {
        $("#posts1").jCarouselLite({
          btnNext: "#next1",
          btnPrev: "#prev1",
          visible: 7
        });
        $("#posts2").jCarouselLite({
          btnNext: "#next2",
          btnPrev: "#prev2",
          visible: 7
        });
        $("#posts3").jCarouselLite({
          btnNext: "#next3",
          btnPrev: "#prev3",
          visible: 7
        });
        $("#posts4").jCarouselLite({
          btnNext: "#next4",
          btnPrev: "#prev4",
          visible: 7
        });
        
      });
.categories-container
  %h3 人気カテゴリー
  .categories
    - Mock::Category.all.each do |category|
      .category.left
        %a{:href => "/mock/job_index?category=#{category.id}"}
          .title= category.name
          .image= image_tag category.image, :size=>'50x50'
    .clear
    - Mock::Category.all.each do |category|
      .order-button-area
        %a.btn.btn-inverse.order-button{:href=>"/mock/job_post_1?category=#{category.id}"}
          %div
            %b Order Now
          %div{:style=>'color:#08C;'}= "¥#{category.price}〜"
    .clear
%br
%h3 開催中のコンテスト
%div
  .contest-title.contest-header コンテストタイトル
  .contest-client.contest-header クライアント
  .contest-category.contest-header カテゴリー
  .contest-design.contest-header デザイン数
  .contest-time.contest-header 残り時間
  .contest-prize.contest-header 賞金
  .contest-status.contest-header ステータス
  .clear
- if @posted
  .contest-lane
    - contest = Mock::Contest.find(1)
    .label-area
    .main-area
      .header
        .contest-title.contest-detail
          %a.title Campfire ウェブコンテンツ ロゴデザイン 
        .contest-client.contest-detail
          .left kensuke shibata
          .left= image_tag "/images/mock/flag/#{contest.flag}.png",:size => '20x20',:align => 'bottom'
          .clear
        .contest-category.contest-detail
          %span ロゴ
        .contest-design.contest-detail
          %span 0
        .contest-time.contest-detail.remain-time
          %span 1時間
        .contest-prize.contest-detail
          %span　¥30,000
        .contest-status.contest-detail
          = image_tag "/images/mock/contest-type/_12d_icon_manymore.png", :size => '20x20'
      .contents
        .lane
        .clear
  %hr
- 4.times do |id|
  .contest-lane
    - contest = Mock::Contest.find(id+1)
    .header
      .contest-title.contest-detail
        %span= link_to contest.title, mock_job_detail_path(:id => id+1)
      .contest-client.contest-detail
        .left{:style=>'width:110px;text-align:center;'}= contest.client
        .right{:style=>'width:25px;'}= image_tag "/images/mock/flag/#{contest.flag}.png",:size => '20x20',:align => 'bottom'
        .clear
      .contest-category.contest-detail
        %a{:href => "/mock/job_index?category=#{contest.category}"}= Mock::Category.find(contest.category).name
      .contest-design.contest-detail
        %span= contest.design
      .contest-time.contest-detail.remain-time
        %span= "#{contest.time}時間"
      .contest-prize.contest-detail
        %span= contest.price
      .contest-status.contest-detail
        = image_tag "/images/mock/contest-type/_12d_icon_#{contest.id.even? ? 'manymore' : 'private'}.png", :size => '20x20'
    .contents
      .lane
        %i.icon-chevron-left.left{:id => "prev#{id+1}"}
        .posts.left{:id => "posts#{id+1}"}
          %ul
            - contest.logo.times do |i|
              %li
                %a{:href=>"/mock/job_application?id=#{id+1}-#{i+1}"}
                  = image_tag "/images/mock/contests/#{id+1}-#{i+1}-square.jpg", :size => '98x98', :alt => ''
        %i.icon-chevron-right.left{:id => "next#{id+1}"}
      .clear
  %hr
