= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/top.css"
.categories-container
  %h3 人気カテゴリー
  .categories
    - Mock::Category.all.each do |category|
      .category.left
        %a{:href => "/mock/job_index?category=#{category.id}"}
          .title= category.name
          .image= image_tag category.image, :size=>'50x50'
    .clear
    - Mock::Category.all.each do |category|
      .order-button-area
        %a.btn.btn-inverse.order-button{:href=>"/mock/job_post_1?category=#{category.id}"}
          %div
            %b Order Now
          %div{:style=>'color:#08C;'}= "¥#{category.price}〜"
    .clear
%br
%h3 募集中のコンテスト
%div{:style=>'margin-left:30px;'}
  - 6.times do |id|
    - contest = Mock::Contest.find(id+1)
    - i = rand(contest.logo)
    .left{:style => 'margin:20px; width:256px; height:330px;'}
      %div{:style=>'border: 1px solid #CCC;'}
        = link_to mock_job_detail_path(:id => id+1) do
          = image_tag "/images/mock/contests/#{id+1}-#{i+1}.jpg", :size => '252x189'
      %div{:style => 'border: 2px solid #08C; padding:10px;'}
        %div
          %span= "Contest#"+(id+1).to_s
        .font10{:style=>'font-weight:bold;'}
          = link_to "#{contest.title}#{Mock::Category.find(contest.category).name}", mock_job_detail_path(:id => id+1)
        .right
          .right= image_tag "/images/mock/flag/#{contest.flag}.png",:size => '18x18',:align => 'bottom'
          .right{:style=>'margin-right:10px;'}= contest.client
          .clear
        .clear
        %div
          .left= image_tag '/images/mock/icon/money.png', :size=>'25x25'
          .left{:style=>'margin:5px 0px 0px 5px;'}= "¥#{contest.price}"
          .clear
        %div
          %span デザインエントリー数
          %span &nbsp;
          %span= contest.design
      %div{:style=>'position:relative; top:-155px; left: 145px; z-index:1; width:150px;'}
        %div
          = image_tag '/images/mock/icon/time-back.png', :style=>'height:50px;'
        %div{:style=>'position:relative; z-index:3; top: -37px; left: 23px;'}
          %div{:style=>'color:white;'}
            %span あと
            %span.font11= contest.time
            %span 時間
.clear
%div{:style=>'text-align:center;margin-bottom:15px;'}
  - 5.times do |i|
    %span= link_to i+1, '#'
    %span= "|"
  %span= link_to '>', '#'
  %span &nbsp;
  %span= link_to '>>>', '#'
