= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/top.css"
  :javascript
      $(function() {
        $("#posts1").jCarouselLite({
          btnNext: "#next1",
          btnPrev: "#prev1",
          visible: 6
        });
        $("#posts2").jCarouselLite({
          btnNext: "#next2",
          btnPrev: "#prev2",
          visible: 6
        });
        $("#posts3").jCarouselLite({
          btnNext: "#next3",
          btnPrev: "#prev3",
          visible: 6
        });
        $("#posts4").jCarouselLite({
          btnNext: "#next4",
          btnPrev: "#prev4",
          visible: 6
        });
      });
.categories-container
  .categories
    .category.left
      %a{:href => '/mock/job_index?category=Logo', :style=>'color:black;'}
        %div{:style => 'width:120px;height:30px;padding-top:15px;'}
          ロゴ
        %div{:style => 'width:120px;height:40px;text-align:center;'}
          =image_tag '/images/mock/category/category_mark.png', :size=>'30x30'
        %div{:style => 'width:120px;height:35px;font-size:10pt;'}
          ¥20,000〜
    .category.left
      %a{:href => '/mock/job_index?category=Illust', :style=>"color:black;"}
        %div{:style => 'width:120px;height:30px;padding-top:15px;'}
          イラスト
        %div{:style => 'width:120px;height:40px;text-align:center;'}
          =image_tag '/images/mock/category/category_mark.png', :size=>'30x30'
        %div{:style => 'width:120px;height:35px;font-size:10pt;'}
          ¥20,000〜
    .category.left
      %a{:href => '/mock/job_index?category=Flyer', :style=>"color:black;"}
        %div{:style => 'width:120px;height:30px;padding-top:15px;'}
          フライヤー
        %div{:style => 'width:120px;height:40px;text-align:center;'}
          =image_tag '/images/mock/category/category_mark.png', :size=>'30x30'
        %div{:style => 'width:120px;height:35px;font-size:10pt;'}
          ¥35,000〜
    .category.left
      %a{:href => '/mock/job_index?category=Other', :style=>"color:black;"}
        %div{:style => 'width:120px;height:30px;padding-top:15px;'}
          その他
        %div{:style => 'width:120px;height:40px;text-align:center;'}
          =image_tag '/images/mock/category/category_mark.png', :size=>'30x30'
        %div{:style => 'width:120px;height:35px;font-size:10pt;'}
          ¥15,000〜
    .clear
- 4.times do |id|
  .contest-lane
    - contest = Mock::Contest.find(id+1)
    .label-area
    .main-area
      .header
        .category-area.left
          .category
            %span.category= image_tag '/images/mock/category/category.png', :size => '40x40'
        .top.left
          %span.title=link_to contest.title, mock_job_detail_path(:id => id+1)
          %i.icon-time
          %span 残り
        .time-area.left
          %span.remain-time= "#{contest.time}時間"
        .bottom.left
          %span.name= link_to contest.client, "#"
          %span.flag= image_tag "/images/mock/flag/#{contest.flag}.png",:size => '20x20',:align => 'bottom'
          %i.icon-file
          %span.white= contest.design
          %i.icon-user
          %span.white= contest.designer
      .contents
        .lane
          %i.icon-chevron-left.left{:id => "prev#{id+1}"}
          .posts.left{:id => "posts#{id+1}"}
            %ul
              - contest.logo.times do |i|
                %li= image_tag "/images/mock/contests/#{id+1}-#{i+1}-square.jpg", :size => '98x98', :alt => '', :onclick => "trans(#{id+1},#{i+1})"
          %i.icon-chevron-right.left{:id => "next#{id+1}"}
          #button-container.right
            %a.btn{:style=> 'width:90px; height:90px'}
              %b + Add Design
        .clear
