= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/designer_index.css"
  :javascript
      $(function() {
        $(".head").click(function(){
          $(this).next().slideToggle("fast");
        });
        $("#posts1").jCarouselLite({
          btnNext: "#next1",
          btnPrev: "#prev1",
          visible: 6
        });
      });
      function trans(id) {
        url = '/mock/designer_detail?id='+id
        location.href = url;
      }
#designer-area
  .title
    %h3 Designers
  .contents
    %i.icon-chevron-left.left#prev1
    #posts1.posts.left
      %ul
        - 8.times do |i|
          %li
            %a{:href=>"/mock/designer_detail?id=#{i+1}"}
              = image_tag "/images/mock/designer/designer#{i+1}.png", :size => '98x98', :alt => ''
    %i.icon-chevron-right.left#next1
    .clear
.sidebar
  %h4.content-title 条件検索
  %form
    .condition
      .head
        ▼ キーワード
      .contents
        %input.span3{:type=>'text'}
    .condition
      .head
        ▼ 作品数
      .contents
        %input{:type=>'text', :style=> 'width:85px;'}
        &nbsp;〜&nbsp;
        %input{:type=>'text', :style=> 'width:85px;'}
    .condition
      .head
        ▼ 参加コンテスト数
      .contents
        %input{:type=>'text', :style=> 'width:85px;'}
        &nbsp;〜&nbsp;
        %input{:type=>'text', :style=> 'width:85px;'}
    .condition
      .head
        ▼ 勝星
      .contents
        %select
          %option 1
          %option 2
          %option　3
          %option　4
          %option　5 〜 9
          %option　10 〜 14
          %option　15 〜 19
          %option　20 〜
    .condition
      .head
        ▼ スキル
      .contents
        - 6.times do |i|
          .skill.left
            = check_box_tag( :sample, i+1 )
            = "スキル#{i+1}"
        .clear
    .right
      %a.btn.btn-info
        検索
.content-wrap
  %h4.content-title デザイナー一覧
  %table.table.table-striped.text-center
    %tbody
      %tr
        %th{:style=>'text-align:center;'} デザイナー名
        %th{:style=>'text-align:center;'}
          作品数
          %span{:style=>'font-size: 6pt;'}▲▼
        %th{:style=>'text-align:center;'}
          参加コンテスト数
          %span{:style=>'font-size: 6pt;'}▲▼
        %th{:style=>'text-align:center;'}
          勝星
          %span{:style=>'font-size: 6pt;'}▲▼
        %th{:style=>'text-align:center;'}
          ランキング
          %span{:style=>'font-size: 6pt;'}▲▼
        - Mock::Designer.all.each do |d|
          %tr
            %td{:style=>'text-align:center;'}
              %div
                .left{:style=>'margin-left:15px;'}= image_tag "/images/mock/designer/designer#{d.id}.png", :size => '50x50', :alt => ''
                .left{:style=>'height:50px;vertical-align:middle;'}
                  %div{:style=>'line-height:50px;margin:0px 10px;'}
                    =link_to d.name, mock_designer_detail_path(:id => d.id)
                .right{:style=>'height:20px;vertical-align:middle;padding-top:15px;'}
                  = image_tag "/images/mock/flag/#{d.flag}.png", :size => '20x20', :alt => ''
                .clear
            %td{:style=>'vertical-align:middle;text-align:center;'}= d.product
            %td{:style=>'vertical-align:middle;text-align:center;'}= d.contest
            %td{:style=>'vertical-align:middle;text-align:center;'}= d.win
            %td{:style=>'vertical-align:middle;text-align:center;'}= d.ranking
.clear