= content_for :head do
  = stylesheet_link_tag "/stylesheets/job_detail.css"
  :javascript
    function trans(id) {
      url = '/mock/designer_detail?id='+id
      location.href = url;
    }
%ul.nav.nav-tabs.font11
  %li.active= link_to 'デザイン一覧', '#entries', {:'data-toggle'=> 'tab'}
  %li= link_to 'コンテスト詳細', '#brief', {:'data-toggle'=> 'tab'}
.tab-content
  .tab-pane.active#entries
    = render 'mock/job_info'
    %ul.nav.nav-tabs.font11
      %li.active= link_to "#{@contest.design} デザイン", '#designes', {:'data-toggle'=> 'tab'}
      %li= link_to "#{@contest.designer} クリエイター", '#designers', {:'data-toggle'=> 'tab'}
    .tab-content
      .tab-pane.active#designes
        #designes-area
          - @contest.logo.times do |i|
            .design.left
              =image_tag "/images/mock/contests/#{@contest.id}-#{i+1}-square.jpg",:size => '132x132', :class=>'flyer'
              .designer-info
                %span.number= '#'"#{i+1}"
                - designer = Mock::Designer.find(i%8+1)
                %span.name= link_to designer.name, mock_designer_detail_path(:id => designer.id)
                %span.flag.right=image_tag "/images/mock/flag/#{designer.flag}.png",:size => '15x15'
                .clear
          .clear
      .tab-pane#designers
        %table.table
          %tr
            %th{:style=>'width:180px;'} Designer
            %th Entries Design
          - @contest.designer.times do |i|
            - designer = Mock::Designer.find(i%8+1)
            %tr
              %td
                .profile-image
                  = image_tag "/images/mock/designer/designer#{i%8+1}.png",:size => '120x120', :onclick=>"trans(#{designer.id})"
                .profile{:style=> 'width:120px;'}
                  %span.name= link_to designer.name, mock_designer_detail_path(:id => designer.id)
                  %span.flag.right=image_tag "/images/mock/flag/#{designer.flag}.png",:size => '15x15'
              %td
                - array = Array.new(8) {|i| i+1}
                - display = i.odd? ? array.sample(4) : array.sample(5) 
                - display.each do |d|
                  .left{:style=>'margin-right: 10px;'}
                    = image_tag "/images/mock/contests/#{@contest.id}-#{d}-square.jpg",:size => '118x118', :class=>'flyer', :onclick=>"location.href='/mock/product'"
                .clear
  .tab-pane#brief
    = render 'mock/job_info'
    %ul.nav.nav-tabs.font11
      %li.active= link_to '日本語', '#japanese', {:'data-toggle'=> 'tab'}
      %li= link_to 'English', '#english', {:'data-toggle'=> 'tab'}
      %li= link_to '  한국어', '#hungle', {:'data-toggle'=> 'tab'}
    .tab-content
      .tab-pane#english
      .tab-pane.active#japanese
        %table.table.table-striped
          %tr
            %td{:style => 'width: 180px;'}
              %b ロゴ表記名
            %td= @contest.name
          %tr
            %td{:style => 'width: 180px;'}
              %b サブ表記名
            %td= @contest.subname
          %tr
            %td{:style => 'width: 180px;'}
              %b 業界・産業
            %td= @contest.industory
          %tr
            %td{:style => 'width: 180px;'}
              %b 用途
            %td= @contest.usage
          %tr
            %td{:style => 'width: 180px;'}
              %b 納品フォーマット
            %td= @contest.format
          %tr
            %td{:style => 'width: 180px;'}
              %b 主なカラー
            %td= @contest.color
          %tr
            %td{:style => 'width: 180px;'}
              %b 好みのパーツ
            %td= @contest.parts
          %tr
            %td{:style => 'width: 180px;'}
              %b イメージメーター
            %td
              =image_tag '/images/mock/image-meter/image-meter.jpg'
          %tr
            %td{:style => 'width: 180px;'}
              %b ロゴタイプ
            %td
              .logo-type.text-center.left
                .image
                  =image_tag '/images/mock/logo-type/abstruct.png', :size=>'120x120'
                .description
                  %span Web2.0
              .logo-type.text-center.left
                .image
                  =image_tag '/images/mock/logo-type/picturemark.png', :size=>'120x120'
                .description
                  %span ピクチャーマーク
              .clear
          %tr
            %td{:style => 'width: 180px;'}
              %b お気に入りロゴ
            %td
              - array = [1,2,3,4,5,6,7,8].sample(3)
              =image_tag "/images/mock/logo/logo#{array[0]}.jpg", :size=>'120x120', :class=>'flyer'
              =image_tag "/images/mock/logo/logo#{array[1]}.jpg", :size=>'120x120', :class=>'flyer'
              =image_tag "/images/mock/logo/logo#{array[2]}.jpg", :size=>'120x120', :class=>'flyer'
          %tr
            %td{:style => 'width: 180px;'}
              %b 参照URL
            %td= @contest.url
          %tr
            %td{:style => 'width: 180px;'}
              %b 補足説明
            %td= @contest.description
      .tab-pane#hungle
    