= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/job_index.css"
  :javascript
      $(function() {
        $(".head").click(function(){
          $(this).next().slideToggle("fast");
        });
        $("#posts1").jCarouselLite({
          btnNext: "#next1",
          btnPrev: "#prev1",
          visible: 6
        });
      });
- if @category
  - if [2,3].index(@category.id)
    - contests = Mock::Contest.find_by_category(1)
  - else
    - contests = Mock::Contest.find_by_category(@category.id)
- else
  - contests = Mock::Contest.all
#contest-area
  .title{:style => 'margin-bottom:20px;'}
    %h3= "#{@category ? @category.name : '全ての'} コンテスト"
  / .contents
  /   %i.icon-chevron-left.left#prev1
  /   #posts1.posts.left
  /     %ul
  /       - images = []
  /       - contests.each do |contest|
  /         - contest.logo.times do |i|
  /           - images.push("#{contest.id}-#{i+1}")
  /       - images.sort_by{rand}.each do |image|
  /         %li
  /           %a{:href=>"/mock/job_application?id=#{image}"}
  /             = image_tag "/images/mock/contests/#{image}-square.jpg", :size => '98x98', :alt => ''
  /   %i.icon-chevron-right.left#next1
  /   .clear
.search-area
  %h4.content-title 条件検索
  -categoryselect=['all','iphoneアイコン','webサイトデザイン','スマートフォンサイトデザイン','名刺デザイン','フライヤー','Tシャツデザイン']
  -limitselect=['all','24時間以内','3日以内','7日以内','10日以内','3日以上','7日以上','10日以上']
  -nationalityselect=['all','米国','日本','韓国','イギリス','フランス','イタリア','ドイツ']
  .search-detail
    %table
      %tr
        %td{:style=>'width:80px;'}
          %b報酬
        %td{:style=>'width:350px;'}
          ¥
          =text_field_tag(:prize)
          =select_tag(:range,options_for_select(['以上','以下']))
        %td{:style=>'width:80px;'}
          %bカテゴリー
        %td{:style=>'width:350px;'}
          =select_tag(:category,options_for_select(categoryselect))
      %tr
        %td
        %td
          =check_box_tag(:repay)+'返金保証未選択コンテストのみ'
        %td
          %b残り時間
        %td
          =select_tag(:category,options_for_select(limitselect))
      %tr
        %td
          %bステイタス
        %td
          =check_box_tag(:status)+'募集中'
          =check_box_tag(:status)+'決定中'
          =check_box_tag(:status)+'終了'
        %td
          %bキーワード
        %td
          =text_field_tag(:keyword)
      %tr
        %td
          %b国籍
        %td
          =select_tag(:nationality,options_for_select(nationalityselect))
        %td
        %td
          .btn.btn-info
            検索
.content-wrap
  %h4.content-title= "#{@category ? @category.name : '全ての'}コンテスト一覧"
  %table.table.table-striped.text-center
    %tbody
      %tr.center
        %th{:style=>'text-align:center;'} ステータス
        %th{:style=>'text-align:center;width:210px;'} タイトル
        %th{:style=>'text-align:center;'} デザイン数
        %th{:style=>'text-align:center;'} 残り時間
        %th{:style=>'text-align:center;'} 報酬 
      - contests.each_with_index do |contest,index|
        %tr
          %td.status{:style=>'text-align:center;'}='募集中'
          %td{:style=>'text-align:center;'}= link_to contest.title , mock_job_detail_path(:id => contest.id)
          %td{:style=>'text-align:center;'}= "#{contest.time}時間"
          %td{:style=>'text-align:center;'}= contest.design 
          %td{:style=>'text-align:center;'}= "¥#{contest.price}"
.clear
