= content_for :head do
  = stylesheet_link_tag "/stylesheets/job_application.css"
  /= javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js' 
  :javascript
      $(function() {
        $("#feedbackbtn").click(function(){
          $("#feedbackComment").hide();
          $("#feedbackDialog").show("slow");
        });
        $(".feedbackhide").click(function(){
          var val = $(this).attr('alt');
          $('#commentDetail').html(val);
          var detail = 'クライアントは'+val+'と言いました。'
          $('#feedbackaddDetail').html(detail);
          $("#feedbackComment").show();
          $("#feedbackDialog").hide("slow",function(){
            $("#feedbackadd").show("fast");
          });
        });
        $("#feedbackContainer").click(function(){
          $("#feedbackDialog").hide("slow");
        });
      });
      $(function() {
        $("#posts1").jCarouselLite({
          btnNext: "#next_sample",
          btnPrev: "#prev_sample",
          visible: 4,
          scroll:4
        });
      });
#contest-info
  %div
    .left.space.font12{:style=>'padding-top:7px;'}
      %a{:href => "/mock/job_detail?id=#{@contest.id}"}= @contest.title
      &nbsp;&nbsp;
      = Mock::Category.find(@contest.category).name
    .left.font11
      = image_tag '/images/mock/icon/client.png', :size=>'25x25'
      &nbsp;
      = @contest.client
      &nbsp;
      = image_tag "/images/mock/flag/#{@contest.flag}.png",:size => '20x20'
    .clear
  %div{:style=>'margin-top:10px;'}
    .left.space.font11
      = image_tag '/images/mock/icon/money.png', :size=>'25x25'
      &nbsp;
      = "¥#{@contest.price}"
    .left.font11
      = image_tag '/images/mock/icon/time.png', :size=>'25x25'
      &nbsp;
      残り
      %span{:style=>'color:red;font-size:14pt;'}= "#{@contest.time}時間"
    .clear

#application
  - designer = Mock::Designer.all.sample(1).first
  %div{:style=>'margin-top:7px;'}
    .right{:style=>'margin-top:10px;'}
      .left デザイン#
      .left{:style=>'margin-right:10px;'}= @current
      .left{:style=>'margin-right:5px;'} from
      .left{:style=>'margin-right:5px;'}= link_to designer.name, mock_designer_detail_path(:id=>designer.id)
      .left{:style=>'margin-right:10px;'}=image_tag "/images/mock/flag/#{designer.flag}.png", :size=>'18x18'
      .left{:style=>'color:gray;margin-right:30px;'} (2012.03.13)
      .clear
    .clear
  %div{:style=>'margin-top:10px;'}
    %a{:href => "/mock/job_application?id=#{@prev}"}
      %i.icon-chevron-left.left#prev1
    .left#product
      #feedbackDialog
        #feedbackDialogBg
        #feedbackContainer
          #feedbackArea
            #feedbackSquare
            #triangle
              =image_tag '/images/mock/icon/triangle.png', :size=>'12x12'
            %div{:style=>'height:150px; overflow-y:scroll;width: 260px;'}
              - Mock::Feedback.all.each do |feedback|
                %div{:style=>'background:white;border-top:1px solid #DDD; padding: 3px;'}
                  %a.feedbackhide{:style=>'color:#222;', :alt=>"#{feedback.description}"}= feedback.description
      #feedbackComment
        #feedbackCommentBg
        #feedbackCommentContainer
          #feedbackCommentArea
            #feedbackCommentSquare
            #triangle
              =image_tag '/images/mock/icon/triangle-gray.png', :size=>'12x12'
            #commentDetail
      #image
        = image_tag "/images/mock/contests/#{@id}.jpg", :size => '500x375', :style=>'border: 1px solid #CCC;'
    %a{:href => "/mock/job_application?id=#{@next}"}
      %i.icon-chevron-right.left#next1
    .clear
  %div{:style=>'margin:5px 35px 10px 0px;text-align:right;'}
    .right
      %div
        %a.btn
          %b + Add Favorite
      %div{:style=>'font-size:11px;color:gray;margin-top:3px;'}
        22人がFavoriteに入れました
    .clear
#feedback-index  
  .left
    - if signed_in && current_user.usertype == "client"
      %a.btn.btn-warning#feedbackbtn
        %b
          フィードバックを入れる
  .clear
  %p
    %h4 評価
  .rating-area
    -rate=['クリエイティビティー','クオリティー','フォント','カラー']
    %table
      -4.times do |i|
        %tr{:style=>"margin-left:10px;"}
          %td{:style=>"width:150px;"}=rate[i]
          - 5.times do
            %td
              %a{:href=>'#'}= image_tag "http://www.setrating.com/images/star1.png"
  %p
    %h4 フィードバック/コメント
  %div{:style=>"margin-left:10px;"}  
    %table.table.table-striped
      /- feedbacks = Mock::Feedback.all.sample(5)
      /- feedbacks.each_with_index do |feedback,index|
      %tr
        %td="2012.4.05"
        %td=designer.name
        %td="宇宙をイメージしてデザインしました。"
      %tr#feedbackadd{:style=>'display:none;'}
        %td="2012.4.15"
        -if signed_in
          %td=current_user.username
        -else
          %td
        %td#feedbackaddDetail
.clear

%hr
.contest-lane
  - contest = Mock::Contest.find(1)
  .header
    .left{:style=>"margin-left:60px;"}
      %h4=contest.title+"ロゴコンテスト　すべてのデザイン"
    .left{:style=>"margin-left:150px;"} page 1/7
    .clear
  .contents
    .lane
      %i.icon-chevron-left.left{:id => "prev_sample"}
      .posts.left{:id => "posts1"}
        %ul
          - contest.logo.times do |i|
            %li
              %a{:href=>"/mock/job_application?id=#{1}-#{i+1}"}
                = image_tag "/images/mock/contests/#{1}-#{i+1}-square.jpg", :size => '98x98', :alt => ''
      %i.icon-chevron-right.left{:id => "next_sample"}
    .clear
%hr
