= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jcarousellite_1.0.1.min.js'
  = stylesheet_link_tag "/stylesheets/job_index.css"
  :javascript
      $(function() {
        $(".head").click(function(){
          $(this).next().slideToggle("fast");
        });
        $("#posts1").jCarouselLite({
          btnNext: "#next1",
          btnPrev: "#prev1",
          visible: 6
        });
      });
#contest-area
  .title
    %h3= "#{@category ? @category : 'All'} Contests"
  .contents
    %i.icon-chevron-left.left#prev1
    #posts1.posts.left
      %ul
        - 8.times do |i|
          %li
            %a{:href=>"/mock/job_application?id=1-#{i+1}"}
              = image_tag "/images/mock/contests/1-#{i+1}-square.jpg", :size => '98x98', :alt => ''
    %i.icon-chevron-right.left#next1
    .clear
.sidebar
  %h4.content-title 条件検索
  %form
    .condition
      .head
        ▼ キーワード
      .contents{:style=>'display:block;'}
        %input.span3{:type=>'text'}
    .condition
      .head
        ▼ カテゴリ
      .contents
        %select
          %option カテゴリ1
          %option カテゴリ2
          %option　カテゴリ3
    .condition
      .head
        ▼ インダストリー
      .contents
        %select
          %option インダストリー1
          %option インダストリー2
          %option　インダストリー3
    .condition
      .head
        ▼ 賞金
      .contents
        ¥&nbsp;
        %input{:type=>'text', :style=> 'width:70px;'}
        &nbsp;〜&nbsp;
        %input{:type=>'text', :style=> 'width:70px;'}
    .condition
      .head
        ▼ ロゴタイプ
      .contents
        %table.logo-select-area
          %tr
            %td
              %p.image= image_tag '/images/mock/logo-type/abstruct.png', :size => '100x100'
              = check_box_tag( :sample, 1 )
              アブストラクト
            %td
              %p.image= image_tag '/images/mock/logo-type/brush.png', :size => '100x100'
              = check_box_tag( :sample, 1 )
              筆文字
          %tr
            %td
              %p.image= image_tag '/images/mock/logo-type/character.png', :size => '100x100'
              = check_box_tag( :sample, 1 )
              キャラクター
            %td
              %p.image= image_tag '/images/mock/logo-type/emblem.png', :size => '100x100'
              = check_box_tag( :sample, 1 )
              エンブレム
          %tr
            %td
              %p.image= image_tag '/images/mock/logo-type/letterform.png', :size => '100x100'
              %br
              = check_box_tag( :sample, 1 )
              レターフォーム
            %td
              %p.image= image_tag '/images/mock/logo-type/picturemark.png', :size => '100x100'
              %br
              = check_box_tag( :sample, 1 )
              ピクチャーマーク
          %tr
            %td
              %p.image= image_tag '/images/mock/logo-type/wordmark.png', :size => '100x100'
              = check_box_tag( :sample, 1 )
              ワードマーク
    .right
      %a.btn.btn-info
        検索
.content-wrap
  %h4.content-title オープンコンテスト一覧
  %table.table.table-striped.text-center
    %tbody
      %tr.center
        %th{:style=>'text-align:center;width:210px;'} タイトル
        %th{:style=>'text-align:center;'} クライアント
        %th{:style=>'text-align:center;'} 残り時間
        %th{:style=>'text-align:center;'} デザイン数
        %th{:style=>'text-align:center;'} 賞金
        %th{:style=>'text-align:center;'} ステータス
      - 4.times do |i|
        - contest = Mock::Contest.find(i+1)
        %tr
          %td{:style=>'text-align:center;'}= link_to contest.title , mock_job_detail_path(:id => contest.id)
          %td{:style=>'text-align:center;'}= contest.client
          %td{:style=>'text-align:center;'}= "#{contest.time}時間"
          %td{:style=>'text-align:center;'}= contest.design 
          %td{:style=>'text-align:center;'}= "¥#{contest.price}"
          %td.status{:style=>'text-align:center;'}= image_tag "/images/mock/contest-type/_12d_icon_#{i.even? ? 'manymore' : 'private'}.png", :size => '20x20'
.clear
