= content_for :head do
  = stylesheet_link_tag "/stylesheets/job_post_1.css"

  :javascript
    $(function() {
      $('[id^="category_1"]').click(function(){
        $("#prize_pattern1").css("display", "block");
        $('#prize_pattern2').css("display", "none");
        $('#prize_pattern3').css("display", "none");
      });
    }); 

    $(function() {
      $('[id^="category_2"]').click(function(){
        $("#prize_pattern2").css("display", "block");
        $('#prize_pattern1').css("display", "none");
        $('#prize_pattern3').css("display", "none");
      });
    }); 

    $(function() {
      $('[id^="category_3"]').click(function(){
        $("#prize_pattern3").css("display", "block");
        $('#prize_pattern1').css("display", "none");
        $('#prize_pattern2').css("display", "none");
      });
    }); 

.wrap
  %ul.breadcrumb
    %li
    %a{:href => "/mock/job_post_1"} 1. カテゴリ/プラン選択
    %span.divider ｜
    %li.active 
    %a{:href => "#"} 2. コンテスト情報入力
    %span.divider ｜
    %li 
    %a{:href =>"#"} 3. 内容確認
    %span.divider ｜
    %li 
    %a{:href =>"#"} 4. 決済

  .content-wrap.left
    %h3 1. カテゴリ/プラン選択
    .input-area
      %h5 カテゴリ選択 *
      .select-category
        %table.table
          %tr
            %td= radio_button_tag( :category, "1_1", true )+'ロゴ'
            %td ¥20,000
            %td= radio_button_tag( :category, "3_1" )+'名刺'
            %td ¥15,000
          %tr
            %td= radio_button_tag( :category, "1_2")+'イラストレーション'
            %td  ¥20,000
            %td= radio_button_tag( :category, "3_2" )+'ブックカバー'
            %td  ¥15,000
          %tr
            %td= radio_button_tag( :category, "2_1")+'フライヤー'
            %td  ¥35,000
            %td= radio_button_tag( :category, "3_3" )+'バナー'
            %td  ¥15,000
          %tr
            %td= radio_button_tag( :category, "1_3")+'iPhone/Androidアイコン'
            %td  ¥20,000
            %td= radio_button_tag( :category, "3_4" )+'その他'
            %td  ¥15,000
        %a more categories... 
      
    .input-area.select-plan
      %h5 プラン選択 *
      .plan-select#prize_pattern1
        %table.table
          %tr
            %td= radio_button_tag(:plan1, 1)+'スタートアッププラン'
            %td= radio_button_tag(:plan1, 2, true)+'ベーシックプラン'
            %td= radio_button_tag(:plan1, 3)+'プレミアムプラン'
          %tr
            %td 
              %h3賞金 ¥20,000 
              %h3掲載フィー ¥2,500
            %td 
              %h3賞金  ¥30,000 
              %h3掲載フィー  ¥3,000
            %td 
              %h3賞金  ¥50,000 
              %h3掲載フィー  ¥4,000
          %tr
            %td
              期待されるクリエイター数
              %br
              15人 
            %td
              期待されるクリエイター数
              %br
              30人 
            %td
              期待されるクリエイター数
              %br
              50人 
          %tr
            %td 著作権の保証
            %td 著作権の保証
            %td 著作権の保証
          %tr
            %td 
            %td 返金保証
            %td 返金保証
          %tr
            %td 
            %td ハイライト表示
            %td ハイライト表示
          %tr
            %td 
            %td
            %td メールマガジン
          %tr
            %td 
            %td 
            %td ソーシャルプロモーション
      .plan-select#prize_pattern2
        %table.table
          %tr
            %td= radio_button_tag(:plan2, 1)+'スタートアッププラン'
            %td= radio_button_tag(:plan2, 2, true)+'ベーシックプラン'
            %td= radio_button_tag(:plan2, 3)+'プレミアムプラン'
          %tr
            %td 
              %h3賞金  ¥35,000 
              %h3掲載フィー  ¥4,000
            %td 
              %h3賞金  ¥50,000 
              %h3掲載フィー  ¥5,000
            %td 
              %h3賞金  ¥65,000 
              %h3掲載フィー  ¥5,500
          %tr
            %td
              期待されるクリエイター数
              %br
              15人 
            %td
              期待されるクリエイター数
              %br
              30人 
            %td
              期待されるクリエイター数
              %br
              50人 
          %tr
            %td 著作権の保証
            %td 著作権の保証
            %td 著作権の保証
          %tr
            %td 
            %td 返金保証
            %td 返金保証
          %tr
            %td 
            %td ハイライト表示
            %td ハイライト表示
          %tr
            %td 
            %td
            %td メールマガジン
          %tr
            %td 
            %td 
            %td ソーシャルプロモーション
      .plan-select#prize_pattern3
        %table.table
          %tr
            %td= radio_button_tag(:plan3, 1)+'スタートアッププラン'
            %td= radio_button_tag(:plan3, 2, true)+'ベーシックプラン'
            %td= radio_button_tag(:plan3, 3)+'プレミアムプラン'
          %tr
            %td 
              %h3賞金  ¥15,000 
              %h3掲載フィー  ¥1,800
            %td 
              %h3賞金  ¥20,000 
              %h3掲載フィー  ¥2,000
            %td 
              %h3賞金  ¥35,000 
              %h3掲載フィー  ¥3,000
          %tr
            %td
              期待されるクリエイター数
              %br
              15人 
            %td
              期待されるクリエイター数
              %br
              30人 
            %td
              期待されるクリエイター数
              %br
              50人 
          %tr
            %td 著作権の保証
            %td 著作権の保証
            %td 著作権の保証
          %tr
            %td 
            %td 返金保証
            %td 返金保証
          %tr
            %td 
            %td ハイライト表示
            %td ハイライト表示
          %tr
            %td 
            %td
            %td メールマガジン
          %tr
            %td 
            %td 
            %td ソーシャルプロモーション

    .input-area
      %h5 オプション選択
      #option
        %table.table
          %tr
            %td
              = check_box_tag(:option, 1)
              クローズオプション
              %hr
              ＋¥2,000
              %hr
              = '-未登録ユーザーは'
              %br
              閲覧不可となる
              %hr
              = '-閲覧する為に'
              %br
              秘密保持契約が必要とする
            %td
              = check_box_tag(:option, 1)
              シークレットオプション
              %hr
              ＋¥5,000
              %hr
              = '-デザインは完全非公開となる'
              %hr
              = '-企業名を隠して募集できる'
              %hr
              = '-承認されたデザイナーのみ'
              %br
              詳細閲覧可能となる
            %td
              = check_box_tag(:option, 1)
              急募オプション
              %hr
              ＋¥5,000
              %hr
              = '-急募ステイタスが表示される'
              %hr
              = '-トップページに表示される'
              %hr

    .right
      .pager
        %a{:href => '/mock/job_post_2'} Next

  .sidebar-wrap.right
    %br
    %br
    %br
    .explanation-area.well
      説明エリア 
    .amount-area.well
      total amount ¥100,000
