= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jqModal.js'
  = stylesheet_link_tag "/stylesheets/job_post_2.css"

  :javascript
    $(function() {
      $(".explain-popover").popover({
      });
    }); 

.wrap
  %ul.breadcrumb
    %li
      1. カテゴリ/プラン選択
      %span.divider ｜
    %li.active 
      2. コンテスト情報入力
      %span.divider ｜
    %li 
      3. 内容確認
      %span.divider ｜
    %li
      4. 決済

  .content-wrap.left
    %h3
      2. コンテスト情報入力

    %form
      %fieldset
        .form-vertical   
          .input-area
            %h5 ロゴの表記名は何ですか？ ＊
            .logoname-select
              %input{:type=>'text', :style => 'width:400px', :placeholder => "例：designclue"}   

          .input-area
            %h5 ロゴにキャッチコピーやサブ名称を入れる場合はご記入ください
            .subname-select
              %input{:type=>'text', :style => 'width:400px', :placeholder => "例：Cross Border Communications for Your Business"}   

          .input-area
            %h5 募集期間は何日間ですか？ ＊
            .timelimit-select
              %select{:style => 'width:200px'}
                %option ------------ 
                %option 2days
                %option 3days
                %option 4days
                %option 5days
                %option 7days
                %option 10days
                %option 13days
                %option 15days
              %span= "終了日時: #{Time.now.strftime("%m")}月#{Time.now.strftime("%d")}日#{Time.now.strftime("%H")}時#{Time.now.strftime("%M")}分" 
         
          .input-area
            %h5 あなたのビジネスは何ですか？ ＊ 
            .industry-select
              .industry1
                業種1
              .industry2
                業種2
              .form-inline
                %select{:style => 'width:250px'}
                  %option ------------ 
                  %option 自営業
                  %option 非営利団体
                  %option 情報通信業
                  %option ソフトウェア業
                  %option インターネット附随サービス業
                  %option 音楽・映像情報制作
                  %option サービス業
                  %option エンターテイメント業
                  %option アパレル業
                  %option 卸売業/小売業
                  %option 教育業
                  %option 士業
                  %option 不動産業
                  %option 飲食店業
                  %option 宿泊業
                  %option 金融業/保険業

                %label 
                = "> "
                %select{:style => 'width:250px'}
                  %option ------------ 
                  %option ソーシャルゲーム開発/提供
                  %option フューチャーフォンアプリ開発/提供
                  %option スマートフォンアプリ開発/提供
                  %option ソフトウェア開発/提供
                  %option ホームページ制作
                  %option ポータルサイト運営
                  %option コンテンツプロバイダー
                  %option ウェブコンテンツ
                  %option クラウドサービス
                  %option インターネット通信販売
                  %option インターネット決済
                  %option セキュリティサービス
                  %option 広告販売販売
          
          .input-area
            .form-vertical
              %h5 利用用途は何ですか？ ＊
              .purpose-select
                %label.radio= radio_button_tag( :category, "1", true )+'web, online' 
                %label.radio= radio_button_tag( :category, "1")+'Printing' 
                %label.radio= radio_button_tag( :category, "1")+'グッズ、パッケージ'
                %label.radio= radio_button_tag( :category, "1")+'看板'
                %label.radio= radio_button_tag( :category, "1")+'その他'
          
          - openformat_title=' Openformat'
          - psd_title=' PSD(photoshop)'
          - eps_title=' EPS'
          - ai_title=' AI(illustrator)'
          - indesign_title=' InDesign'
          - jpg_title=' JPG'
          - gif_title=' GIF'
          - png_title=' PNG'
          - pdf_title=' PDF'
          - other_title=' その他'
          - openformat_explain='オープンフォーマットは、変更またはさらなる処理のために特に適しています。それぞれ適切なツールで個々のデザインを加工・変更するために使用することができることができます。'
          - psd_explain='Adobe Photoshopのグラフィックドキュメントのことです。PSDはレイヤー、チャンネル、スマートオブジェクトの数を可能にするため、他のフォーマットと比較して、ストレージサイズがかなり大きいです。特にWebサイトのテンプレートとして使用されています。'
          - eps_explain='EPSは、PostScriptによって記述されたベクタ形式の画像データを保存するためのファイル形式です。ロゴの作成に特に適している。 EPSファイルは、多かれ少なかれ、自己完結しており、別のPostScriptドキュメント内に配置することができます。また、彼らはデバイス非依存であり、したがって、異なるハードウェアプラットフォーム（Windows、Macなど）のアプリケーションで見ることができます。'
          - ai_explain='Adobe Illustratorファイルで、ベクトルベースのグラフィックスです。ピクセルグラフィックとは対照的に、品質の損失なしで可能な限り最高の解像度で表示され、最高の解像度で印刷することができます。'
          - indesign_explain='InDesignファイルは、チラシ、広告、パンフレットなど多くの印刷プロジェクトを作成するためのレイアウトファイルです。ドキュメント内の複数のページやレイヤーを作成することができます。'
          - jpg_explain='JPEG画像は、ピクセルベースのグラフィックで、Webグラフィックと写真のようなイメージのために特に適しています。彼らはハードの色でテキストやグラフィックスには適さない。 JPEGは画像圧縮のために特に効率的です。'
          - gif_explain='GIFグラフィックスインターチェンジ形式で、低色深度を持つ画像（フレーム当たり最大256の異なる色）に特に便利です。したがって、写真の形式は不向きである。しかし、GIFファイルはブラウザがアニメーション化することができる、ファイル内の複数のフレームを持つことができます。これはバナーと小さい画像に有利なことができます。'
          - png_explain='PNGは、アルファチャネルを介して透明度をサポートし、また、異なる色深度をサポートしています。 PNGはGIF形式の改良開発ですが、アニメーションをサポートしていません。'
          - pdf_explain='Portable Document Formatのことです。すべてのプラットフォーム上で、元のフォイルに忠実に生成されたレイアウトを表示します。'
          - other_explain='CDR、MPEG、PSB、tifファイルなどの形式があります。'
          .input-area
            %h5 希望する納品フォーマットを選んでください。 ＊
            %table.table-bordered.table-striped.format-select
              %tr
                %th.explain-popover{:rel=>'popover',:'data-title'=>"#{openformat_title}",:'data-content'=>"#{openformat_explain}" }
                  = "#{openformat_title}"
                %th Online
                %th Print
                %th Others
              %tr
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{psd_title}",:'data-content'=>"#{psd_explain}" }
                  = check_box_tag( :sample, 1 )+"#{psd_title}"
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{jpg_title}",:'data-content'=>"#{jpg_explain}" }
                  = check_box_tag( :sample, 1 )+"#{jpg_title}"
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{pdf_title}",:'data-content'=>"#{pdf_explain}" }
                  = check_box_tag( :sample, 1 )+"#{pdf_title}"
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{other_title}",:'data-content'=>"#{other_explain}" }
                  = check_box_tag( :sample, 1 )+"#{other_title}"
              %tr
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{eps_title}",:'data-content'=>"#{eps_explain}" }
                  = check_box_tag( :sample, 1 )+"#{eps_title}"
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{gif_title}",:'data-content'=>"#{gif_explain}" }
                  = check_box_tag( :sample, 1 )+"#{gif_title}"
                %td
                %td
              %tr
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{ai_title}",:'data-content'=>"#{ai_explain}" }
                  = check_box_tag( :sample, 1 )+"#{ai_title}"
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{png_title}",:'data-content'=>"#{png_explain}" }
                  = check_box_tag( :sample, 1 )+"#{png_title}"
                %td
                %td
              %tr
                %td.explain-popover{:rel=>'popover',:'data-title'=>"#{indesign_title}",:'data-content'=>"#{indesign_explain}" }
                  = check_box_tag( :sample, 1 )+"#{indesign_title}"
                %td
                %td
                %td
                .clear
          
          .input-area
            %h5 デザインの主な色は何色ですか？ ＊
            .color-select
              = radio_button_tag(:color_select, 1, true)
              代表的な色から選ぶ
              .selectsample
                - 3.times do
                  %select{:style => 'width:200px'}
                    %option ------------ 
                    %option レッド 
                    %option オレンジ
                    %option イエロー
                    %option グリーン
                    %option ブルー
                    %option パープル
                    %option ブラウン
                    %option ホワイト
                    %option ブラック
                  %br
              = radio_button_tag(:color_select, 1)
              詳細な色を設定する
              .freeinput
                - 3.times do
                  .form-inline
                    %i= image_tag "/images/mock/color-picker/colorsample.png", :size => '25x25'
                    %label #
                    %input{:type=>'text', :style => 'width:100px', :placeholder => "cccc00"}   
          
          .input-area
            %h5 できれば入れて欲しいパーツ・モノは何ですか？ ＊
            .parts-select
              %form.form-inline
                %input{:type=>'text', :style => 'width:150px', :placeholder => "炎" }   
                %input{:type=>'text', :style => 'width:150px', :placeholder => "翼" }   
                %input{:type=>'text', :style => 'width:150px', :placeholder => "サイコロ" }   

          .input-area
            %h5 イメージメーターで表現してください。（これを見てデザイナーはあなたの好みを分析します。） ＊ 
            %table
              %tr
                %td 男性的 
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  女性的 
              %tr
                %td イノベーティブ
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  コンサバティブ
              %tr
                %td シンプル
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  複合的 
              %tr
                %td 単色
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  カラフル
              %tr
                %td ヤング
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  オールド
              %tr
                %td 高級
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  日常
          
          .input-area
            %h5 どのような系統のロゴが良いですか？ ＊
            .logo-select-area
              %table
                %tr
                  %td
                    %p.image= image_tag '/images/mock/logo-type/wordmark.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    ワードマーク 
                  %td
                    %p.image= image_tag '/images/mock/logo-type/picturemark.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    ピクチャーマーク
                  %td
                    %p.image= image_tag '/images/mock/logo-type/abstruct.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    抽象スタイル
                  %td
                    %p.image= image_tag '/images/mock/logo-type/letterform.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    頭文字マーク
                %tr
                  %td
                    %p.image= image_tag '/images/mock/logo-type/emblem.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    エンブレム
                  %td
                    %p.image= image_tag '/images/mock/logo-type/character.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    キャラクター
                  %td
                    %p.image= image_tag '/images/mock/logo-type/brush.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    筆文字スタイル
                  %td
                    %p.image= image_tag '/images/mock/logo-type/Web2.0.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    web2.0スタイル
              
          .input-area
            %h5 お気に入りのデザインがあればファイルを添付してください
    
            .clipping-area
              %a.image.design-upload{:style=>'width:150px;',:onClick => "$('#designfile').click();"}
                = image_tag '/images/mock/upload-button/upload_file.png', :size => '100x100'
          
          .input-area
            %h5 参照すべきURLがありますか？（自社サイトや競合サイトなど） 
            .URL-select
              %input{:type=>'text', :style => 'width:300px', :placeholder => "http://"}   
          
          .input-area
            %h5 補足説明が必要な場合は記載してください
            %textarea{:style => 'width:500px'}   

    .btn-area
      %a.previous.btn.btn-inverse{:href => '/mock/job_post_1'}= '戻る'
      %a.next.btn.btn-inverse{:href => '/mock/confirm'}= '確認へ'
    
  .sidebar-wrap.right
    .explanation-area.well
      説明エリア 

