= content_for :head do
  = javascript_include_tag '/javascripts/lib/jquery-plugin/jqModal.js'
  = stylesheet_link_tag "/stylesheets/job_post_2.css"
  = stylesheet_link_tag "/stylesheets/jqModal.css"

:javascript
  $(function() {  
    //$('#dialog').jqm();  
    $('#dialog').jqm({ modal: true });    
  });

  $(function() {  
    $("#add_design_1").click(function(){
      $("#add_design_1").prependTo("#change-area");
    });
    $("#add_design_2").click(function(){
      $("#add_design_2").prependTo("#change-area");
    });
    $("#add_design_3").click(function(){
      $("#add_design_3").prependTo("#change-area");
    });
    $("#add_design_4").click(function(){
      $("#add_design_4").prependTo("#change-area");
    });
  });

#dialog.jqmWindow
  %a.jqmClose.right{:href => "#"} Close
  %hr
  追加するデザインを選んでください。
  %table
    %tr
      %td#add_design_1= image_tag "/images/mock/logo/logo1.jpg", :size => '100x100'
      %td#add_design_2= image_tag "/images/mock/logo/logo2.jpg", :size => '100x100'
      %td#add_design_3= image_tag "/images/mock/logo/logo3.jpg", :size => '100x100'
      %td#add_design_4= image_tag "/images/mock/logo/logo4.jpg", :size => '100x100'
  %hr
  .btn-small.btn-primary.right.jqmClose 完了 
.wrap
  %ul.breadcrumb
    %li
      1. カテゴリ/プラン選択
      %span.divider ｜
    %li.active 
      2. コンテスト情報入力
      %span.divider ｜
    %li 
      3. 内容確認
      %span.divider ｜
    %li
      4. 決済

  .content-wrap.left
    %h3
      2. コンテスト情報入力

    %form
      %fieldset
        .form-vertical   
          .input-area
            %h5 ロゴの表記名は何ですか？ *
            .logoname-select
              %input{:type=>'text', :style => 'width:400px'}   

          .input-area
            %h5 ロゴにキャッチコピーやサブ名称を入れる場合はご記入ください
            .subname-select
              %input{:type=>'text', :style => 'width:400px'}   

          .input-area
            %h5 募集期間は何日間ですか？ *
            .timelimit-select
              %select{:style => 'width:200px'}
                %option ------------ 
                %option 2days
                %option 3days
                %option 4days
                %option 5days
                %option 7days
                %option 10days
                %option 13days
                %option 15days
              %span= "終了日時: #{Time.now.strftime("%m")}月#{Time.now.strftime("%d")}日#{Time.now.strftime("%H")}時#{Time.now.strftime("%M")}分" 
         
          .input-area
            %h5 あなたのビジネスは何ですか？ * 
            .industry-select
              .industry1
                業種1
              .industry2
                業種2
              .form-inline
                %select{:style => 'width:250px'}
                  %option ------------ 
                  %option 自営業
                  %option 非営利団体
                  %option 情報通信業
                  %option ソフトウェア業
                  %option インターネット附随サービス業
                  %option 音楽・映像情報制作
                  %option サービス業
                  %option エンターテイメント業
                  %option アパレル業
                  %option 卸売業/小売業
                  %option 教育業
                  %option 士業
                  %option 不動産業
                  %option 飲食店業
                  %option 宿泊業
                  %option 金融業/保険業

                %label 
                = "> "
                %select{:style => 'width:250px'}
                  %option ------------ 
                  %option ソーシャルゲーム開発/提供
                  %option フューチャーフォンアプリ開発/提供
                  %option スマートフォンアプリ開発/提供
                  %option ソフトウェア開発/提供
                  %option ホームページ制作
                  %option ポータルサイト運営
                  %option コンテンツプロバイダー
                  %option ウェブコンテンツ
                  %option クラウドサービス
                  %option インターネット通信販売
                  %option インターネット決済
                  %option セキュリティサービス
                  %option 広告販売販売
          
          .input-area
            .form-vertical
              %h5 利用用途は何ですか？ *
              .purpose-select
                %label.radio= radio_button_tag( :category, "1", true )+'web, online' 
                %label.radio= radio_button_tag( :category, "1")+'Printing' 
                %label.radio= radio_button_tag( :category, "1")+'グッズ、パッケージ'
                %label.radio= radio_button_tag( :category, "1")+'看板'
                %label.radio= radio_button_tag( :category, "1")+'その他'
          
          .input-area
            %h5 希望する納品フォーマットを選んでください。 *
            %table.table-bordered.table-striped.format-select
              %tr
                %th Open format
                %th Online
                %th Print
                %th Others
              %tr
                %td= check_box_tag( :sample, 1 )+' PSD (photoshop)'
                %td= check_box_tag( :sample, 1 )+' JPG'
                %td= check_box_tag( :sample, 1 )+' PDF'
                %td= check_box_tag( :sample, 1 )+' Other'
              %tr
                %td= check_box_tag( :sample, 1 )+' EPS'
                %td= check_box_tag( :sample, 1 )+' GIF'
                %td
                %td
              %tr
                %td= check_box_tag( :sample, 1 )+' AI (illustrator)'
                %td= check_box_tag( :sample, 1 )+' PNG'
                %td
                %td
              %tr
                %td= check_box_tag( :sample, 1 )+' indesign'
                %td
                %td
                %td
                .clear
          
          .input-area
            %h5 デザインの主な色は何色ですか？ *
            .color-select
              = radio_button_tag(:color_select, 1, true)
              代表的な色から選ぶ
              .selectsample
                - 3.times do
                  %select{:style => 'width:200px'}
                    %option ------------ 
                    %option レッド 
                    %option オレンジ
                    %option イエロー
                    %option グリーン
                    %option ブルー
                    %option パープル
                    %option ブラウン
                    %option ホワイト
                    %option ブラック
                  %br
              = radio_button_tag(:color_select, 1)
              詳細な色を設定する
              .freeinput
                - 3.times do
                  .form-inline
                    %i= image_tag "/images/mock/color-picker/colorsample.png", :size => '25x25'
                    %label #
                    %input{:type=>'text', :style => 'width:100px', :placeholder => "cccc00"}   
          
          .input-area
            %h5 できれば入れて欲しいパーツ・モノは何ですか？ *
            .parts-select
              %form.form-inline
                %input{:type=>'text', :style => 'width:150px' }   
                %input{:type=>'text', :style => 'width:150px' }   
                %input{:type=>'text', :style => 'width:150px' }   

          .input-area
            %h5 イメージメーターで表現してください。（これを見てデザイナーはあなたの好みを分析します。） * 
            %table
              %tr
                %td 男性的 
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  女性的 
              %tr
                %td イノベーティブ
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  コンサバティブ
              %tr
                %td シンプル
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  複合的 
              %tr
                %td 単色
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  カラフル
              %tr
                %td ヤング
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  オールド
              %tr
                %td 高級
                %td.form-inline
                  %input{:type=>'range', :style => 'width:200px'}   
                  日常
          
          .input-area
            %h5 どのような系統のロゴが良いですか？ *
            .logo-select-area
              %table
                %tr
                  %td
                    %p.image= image_tag '/images/mock/logo-type/wordmark.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    ワードマーク 
                  %td
                    %p.image= image_tag '/images/mock/logo-type/picturemark.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    ピクチャーマーク
                  %td
                    %p.image= image_tag '/images/mock/logo-type/abstruct.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    抽象スタイル
                  %td
                    %p.image= image_tag '/images/mock/logo-type/letterform.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    頭文字マーク
                %tr
                  %td
                    %p.image= image_tag '/images/mock/logo-type/emblem.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    エンブレム
                  %td
                    %p.image= image_tag '/images/mock/logo-type/character.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    キャラクター
                  %td
                    %p.image= image_tag '/images/mock/logo-type/brush.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    筆文字スタイル
                  %td
                    %p.image= image_tag '/images/mock/logo-type/Web2.0.jpg', :size => '100x100'
                    = check_box_tag( :sample, 1 )
                    web2.0スタイル
              
          .input-area
            %h5 サンプルからあなたの好きなロゴを選んでください。（これを見てデザイナーはあなたの好みを分析します。） *
    
            .clipping-area
              %table
                %tr#change-area
                  %td.add-clipping.jqModal{:href => "#"}
                    %p
                      %b + Add Design
          
          .input-area
            %h5 参照すべきURLがありますか？（自社サイトや競合サイトなど） 
            .URL-select
              %input{:type=>'text', :style => 'width:300px', :placeholder => "http://"}   
          
          .input-area
            %h5 補足説明が必要な場合は記載してください
            %textarea{:style => 'width:500px'}   

    .btn-area
      %a.previous.btn.btn-inverse{:href => '/mock/job_post_1'}= '戻る'
      %a.next.btn.btn-inverse{:href => '/mock/confirm'}= '確認へ'
    
  .sidebar-wrap.right
    .explanation-area.well
      説明エリア 

