= content_for :head do
  = stylesheet_link_tag "/stylesheets/mypage.css"
  :javascript
    $(document).ready(function(){
      if ("#{@category}" == "") {
        $('#infomation').addClass('active');
        $('#infomation-li').addClass('active');
      } else {
        var target = '#'+"#{@category}";
        var targetList = target+'-li'
        $(target).addClass('active');
        $(targetList).addClass('active');
      }
    });

    $(function() {
      $('[id="show-manager"]').click(function(){
        $("#contest-manager").css("display", "block");
        $("#contest-index").css("display", "none");
      });
      $('[id="show-index"]').click(function(){
        $("#contest-manager").css("display", "none");
        $("#contest-index").css("display", "block");
      });
    }); 

    $(function() {
      $('[id="show-thread-1"]').click(function(){
        $("#message-index").css("display", "none");
        $("#message-thread-1").css("display", "block");
        $("#message-thread-2").css("display", "none");
      });
      $('[class="show-index"]').click(function(){
        $("#message-index").css("display", "block");
        $("#message-thread-1").css("display", "none");
        $("#message-thread-2").css("display", "none");
      });
    });
    
    $(function() {
      $('[id="filter-all"]').click(function(){
        $('[id="message-1"]').css("display", "");
        $('[id="feedback-1"]').css("display", "");
        $('[id="invite-1"]').css("display", "");
        $('[id="payment-1"]').css("display", "");
      });
      $('[id="filter-message"]').click(function(){
        $('[id="message-1"]').css("display", "");
        $('[id="feedback-1"]').css("display", "none");
        $('[id="invite-1"]').css("display", "none");
        $('[id="payment-1"]').css("display", "none");
      });
      $('[id="filter-feedback"]').click(function(){
        $('[id="message-1"]').css("display", "none");
        $('[id="feedback-1"]').css("display", "");
        $('[id="invite-1"]').css("display", "none");
        $('[id="payment-1"]').css("display", "none");
      });
      $('[id="filter-invite"]').click(function(){
        $('[id="message-1"]').css("display", "none");
        $('[id="feedback-1"]').css("display", "none");
        $('[id="invite-1"]').css("display", "");
        $('[id="payment-1"]').css("display", "none");
      });
      $('[id="filter-payment"]').click(function(){
        $('[id="message-1"]').css("display", "none");
        $('[id="feedback-1"]').css("display", "none");
        $('[id="invite-1"]').css("display", "none");
        $('[id="payment-1"]').css("display", "");
      });
    }); 


.left{:style=>'width:170px;'}
  %div{:style=>'margin-bottom:20px;'}
    %h3 My Page
  %ul.nav.nav-tabs.nav-stacked
    %li#infomation-li
      %a{:href=>'#infomation', :'data-toggle'=> 'tab'}
        %i.icon-info-sign
        %span{:style=>'margin-left:3px;'}お知らせ
    %li#message-li
      %a{:href=>'#message', :'data-toggle'=> 'tab'}
        %i.icon-envelope
        %span{:style=>'margin-left:3px;'}メッセージ
    %li#myworks-li
      %a{:href=>'#myworks', :'data-toggle'=> 'tab'}
        %i.icon-pencil
        %span{:style=>'margin-left:3px;'}マイワークス
    %li#portfolio-li
      %a{:href=>'#portfolio', :'data-toggle'=> 'tab'}
        %i.icon-list-alt
        %span{:style=>'margin-left:3px;'}ポートフォリオ
    %li#profile-li
      %a{:href=>'#profile', :'data-toggle'=> 'tab'}
        %i.icon-user
        %span{:style=>'margin-left:3px;'}プロフィール
    %li#watchlist-li
      %a{:href=>'#watchlist', :'data-toggle'=> 'tab'}
        %i.icon-time
        %span{:style=>'margin-left:3px;'}ウォッチリスト
    %li#favorite-li
      %a{:href=>'#favorite', :'data-toggle'=> 'tab'}
        %i.icon-heart
        %span{:style=>'margin-left:3px;'}お気に入り
.left{:style=>'width:740px;margin-left:30px;'}
  .tab-content
    .tab-pane#infomation
      %div{:style=>'margin:9px 0px 20px 0px;'}
        %h4 お知らせ
      .filtercategory
        .btn.btn-info#filter-all{:style=>"margin-left:8px;"} ALL
        .btn.btn-info#filter-message{:style=>"margin-left:8px;"} メッセージ
        .btn.btn-info#filter-feedback{:style=>"margin-left:8px;"} フィードバック 
        .btn.btn-info#filter-invite{:style=>"margin-left:8px;"} インヴァイト
        .btn.btn-info#filter-payment{:style=>"margin-left:8px;"} ペイメント
      %table.table.table-striped.custom
        %tr
          %th
          %th{:style=>"width:100px;"} 種類
          %th{:style=>"width:120px;"} 差出人
          %th{:style=>"width:200px;"} 内容
        %tr#message-1
          %td{:style=>"width:20px;"}
            %i.icon-flag
          %td メッセージ
          %td hideki yamamoto
          %td デザインを投稿してみませんか？
        %tr#feedback-1
          %td{:style=>"width:20px;"}
          %td フィードバック
          %td kensuke shibata
          %td デザインを投稿してみませんか？
        %tr#invite-1
          %td{:style=>"width:20px;"}
          %td インヴァイト
          %td kensuke shibata
          %td デザインを投稿してみませんか？
        %tr#payment-1
          %td{:style=>"width:20px;"}
          %td ペイメント
          %td Designclue
          %td ご登録ありがとうございます        
    .tab-pane#message
      %div{:style=>'margin:9px 0px 20px 0px;'}
        %h4 メッセージ
      %div#message-index
        %table.table.table-striped.custom
          %tr
            %th 日付
            %th 差出人
            %th タイトル
          %tr
            %td　12/03/12
            %td Shibata
            %td
              %a{:href=>'#',:id=>'show-thread-1'} design#32 "keynoter ロゴデザイン"
      .thread-area
        #message-thread-1
          %table.table
            %tr
              %td 2012/03/12
              %td Joe
              %td 背景の色は青と赤どちらがよろしいでしょうか？
            %tr
              %td 2012/03/13
              %td shibata
              %td 赤でお願いします。
          .reply-area
            %h5 返信内容
            =text_area_tag(:reply,'',{:cols=>80,:rows=>5})
          .btn 返信
          .btn
            .show-index 戻る
    .tab-pane#profile
      %div{:style=>'margin:9px 0px 20px 0px;'}
        %h4 プロフィール
    .tab-pane#favorite      
      %div{:style=>'margin:9px 0px 20px 0px;'}
        %h4 お気に入り
    .tab-pane#myworks
      .category-title
        %h4 マイワークス

        %table.table.table-striped{:style=>'width:700px;'}
          - 3.times do |i|
            %tr
              %td{:style=>'width:250px;'}
                %p
                  %a{:href=>"/mock/job_detail?id=#{i+1}"} keynoter webサービス ロゴデザイン
                %p ステイタス：開催中
                %p 期限：2012年4月15日
                %p 報酬：¥50,000
                %p 招待：なし
                %p
                  %a.btn.btn-warning{:href=>'/mock/design_post/'} デザインを投稿する
              %td{:style=>'width:150px;'}
                %a.sample-work
                  = image_tag "/images/mock/contests/#{i+1}-1-square.jpg"
              %td{:style=>'padding-left:40px;'}
                %p="design ID : ##{i+90}"
                %p
                  %a{:href=>'#'} 追記する／更新する
                %p
                  %a{:href=>'#'} 作品を取り消す
                %p
                  %a{:href=>'#'} ベクターデータを添付する

    .tab-pane#portfolio
      .category-title
        %h4 ポートフォリオ
      .category-content
        %div.tabbable
          %ul.nav.nav-tabs
            %li.active
              %a{:href=>'#portfolio_tab','data-toggle'=>'tab'}= "ポートフォリオ"
            %li
              %a{:href=>'#invisiblework_tab','data-toggle'=>'tab'}= "非表示作品"
          .tab-content
            .tab-pane.wrap.active#portfolio_tab
              %a.image.design-upload{:href=>"#clipping",:onClick => "$('#designfile').click();"}
              .btn.btn-info{:style=>'width:150px;margin: 0 0 20px; 20px;'}="+upload file"
              /image_tag '/images/mock/upload-button/upload_file.png', :size => '150x100'
              .operation-area
                %table
                  -5.times do |i|
                    %tr
                      %td
                        .sample-work{:style=>'width:120px;'}= image_tag "/images/mock/contests/#{i+2}-1-square.jpg"
                      %td{:style=>'width:30px;padding: 0 5px 0 5px;'}
                        -unless i==0
                          .btn
                            %i.icon-arrow-up
                        -unless i==4
                          .btn{:style=>'margin-top:5px;'}
                            %i.icon-arrow-down
                      %td
                        -if i>1
                          .btn 非表示にする
            .tab-pane.wrap#invisiblework_tab
              - @works.each do |work|
                .design.left
                  .thumbnail-work
                    %a{:href=>"/mock/job_application?id=#{work.id}"}
                      = image_tag "/images/mock/contests/#{work.id}-square.jpg"
                  .btn="ポートフォリオに追加"
              .clear
              .text-center{:style=>'margin:20px 0px 20px'}
                =link_to '<', '#', :style=>'margin: 0px 5px;'
                - 13.times do |i|
                  =link_to i+1, '#', :style=>'margin: 0px 5px;'
                =link_to '>', '#', :style=>'margin: 0px 5px;'

    .tab-pane#watchlist
      .category-title
        %h4 ウォッチリスト
      .category-content
.clear
