= content_for :head do
  = stylesheet_link_tag "/stylesheets/payment.css"

  :javascript
    $(function() {
      $('[id="visa"],[id="mastercard"]').click(function(){
        $("#paypal-area").css("display", "none");
        $('#creditcard-area').css("display", "block");
      });
    }); 

    $(function() {
      $('[id="paypal"]').click(function(){
        $("#paypal-area").css("display", "block");
        $('#creditcard-area').css("display", "none");
      });
    }); 

.wrap
  %ul.breadcrumb
    %li 1. カテゴリ/プラン選択
    %span.divider ｜
    %li 2. 依頼内容の入力
    %span.divider ｜
    %li 3. 依頼内容の確認
    %span.divider ｜
    %li.active 4. 支払方法の選択
    %span.divider ｜
    %li 5.支払内容の確認
    %span.divider ｜
    %li 6.完了

  %h3 4.支払方法の選択
  .well
    %div.left
      %h4 トータルコスト
    %div.left{:style=>"margin-left:200px;"}
      %h4 ¥46,200
  .select-checkout
    %p
      %b 決済方法の選択
    .checkout-pattern.left
      .radio#paypal= radio_button_tag( :checkout, "3", true )+"Paypal"
      .image= image_tag "/images/mock/payment/paypal.jpg"
    .checkout-pattern.left
      .radio#visa=radio_button_tag( :checkout, "1")+"Visa"
      .image= image_tag "/images/mock/payment/visa.jpg"
    .checkout-pattern.left
      .radio#mastercard= radio_button_tag( :checkout, "2")+"Mastercard"
      .image= image_tag "/images/mock/payment/master.jpg"
    .clear
  .paypal-information#paypal-area
    %p
      %b Paypal情報の入力 
    .input-area
      %h5 メールアドレス *
      .mailaddress
        %input{:type=>'text', :style => 'width:300px'}   
    .input-area
      %h5 パスワード *
      .password
        %input{:type=>'password', :style => 'width:100px'}   
  .card-information#creditcard-area
    %p
      %b クレジットカード情報の入力
    .input-area
      %h5 カード番号 *
      .cardnumber
        .form-inline
          - 3.times do
            %input{:type=>'text', :style => 'width:40px'}   
            %label -
          %input{:type=>'text', :style => 'width:40px'}   
    .input-area
      %h5 有効期限 *
      .term
        .form-inline   
          %label{:style => 'width:50px'}=" 月" 
          %label{:style => 'width:50px'}=" 年"
        .form-inline   
          %select{:style => 'width:50px'}
            %option --
            - 12.times do |i|
              %option="#{i+1}" 
          %select{:style => 'width:70px'}
            %option ---- 
            %option 2014
            %option 2015 
    .input-area
      %h5 名義人 *
      .name
        .form-inline
          %input{:type=>'text', :style => 'width:80px'}   
    .input-area
      %h5 暗証番号 *
      .code
        %input{:type=>'password', :style => 'width:100px'}   
  .agreement-area
    %h3 サービス利用規約 
    .description
      - file = open("app/models/mock/agreement.txt")
      = text = file.read
      = print text
      = file.close
    = check_box_tag( :sample, 1 )+' 同意する'
  .btn-area
    .previous.btn.btn-inverse
      %a=link_to_function '戻る', 'history.back()'
    %a.next.btn.btn-inverse.right{:href => '/mock/payment_confirm'}= '支払方法の決定へ進む'
  .sidebar-wrap.left
