= content_for :head do
  = stylesheet_link_tag "/stylesheets/payment.css"

.wrap
  %ul.breadcrumb
    %li
      1. カテゴリ/プラン選択
      %span.divider ｜
    %li 
      2. コンテスト情報入力
      %span.divider ｜
    %li 
      3. 内容確認
      %span.divider ｜
    %li.active
      4. 決済

  .content-wrap.left
    .checkout-area
      %h3 決済方法を選択してください
      .paypal
        =radio_button_tag( :checkout, "")
        %h4 Paypal決済
        %i.icon= image_tag "/images/mock/payment/paypalicon.png", :size => '30x30'
        .input-area
          %h5 メールアドレス *
          .mailaddress
            %input{:type=>'text', :style => 'width:300px'}   
        .input-area
          %h5 パスワード *
          .password
            %input{:type=>'password', :style => 'width:100px'}   
        .inputarea
          %a= image_tag "/images/mock/payment/paypal-button.png", :size => '100x30'

      .creditcard
        = radio_button_tag( :checkout, "", true )
        %h4 クレジットカード決済
        %i= image_tag "/images/mock/payment/crediticon.png", :size => '30x30'
        .input-area
          %h5 カード番号 *
          .cardnumber
            .form-inline
              - 3.times do
                %input{:type=>'text', :style => 'width:40px'}   
                %label -
              %input{:type=>'text', :style => 'width:40px'}   
        .input-area
          %h5 有効期限 *
          .term
            .form-inline   
              %label{:style => 'width:50px'}=" 月" 
              %label{:style => 'width:50px'}=" 年"
            .form-inline   
              %select{:style => 'width:50px'}
                %option --
                - 12.times do |i|
                  %option="#{i+1}" 
              %select{:style => 'width:70px'}
                %option ---- 
                %option 2014
                %option 2015 
        .input-area
          %h5 名義人 *
          .name
            .form-inline
              %input{:type=>'text', :style => 'width:80px'}   
        .input-area
          %h5 暗証番号 *
          .code
            %input{:type=>'password', :style => 'width:100px'}   
    .agreement-area
      %h3 サービス利用規約 
      .description
        - file = open("app/models/mock/agreement.txt")
        = text = file.read
        = print text
        = file.close
      = check_box_tag( :sample, 1 )+' 同意する'
    .btn-area
      %a.previous.btn.btn-inverse{:href => '/mock/top'}= 'キャンセル'
      %a.next.btn.btn-inverse{:href => '/mock/top?posted=true'}= '決定'
  .sidebar-wrap.left
