/= form_for @contest do |f|
-if @contest.errors.any?
  #error_explanation
    %h2= "#{pluralize(@contest.errors.count, "error")} prohibited this contest from being saved:"
    %ul
      - @contest.errors.full_messages.each do |msg|
        %li= msg

%p#notice= notice

- category={'logo'=>'ロゴデザイン','namecard'=>'名刺デザイン','illustration'=>'イラストレーション', 'bookcover'=>'ブックカバー', 'flyer'=>'フライヤー', 'brush'=>'書道', 'iphone-icon'=>'iphoneアプリアイコン', 'other'=>'その他'}
- open={1=>'標準',2=>'クローズ',3=>'シークレット'}

.wrap
  %ul.breadcrumb
    %li 1. カテゴリ/プラン選択
    %span.divider ｜
    %li 2. 依頼内容の入力
    %span.divider ｜
    %li.active 3. 依頼内容の確認
    %span.divider ｜
    %li 4. 支払方法の選択
    %span.divider ｜
    %li 5.支払内容の確認
    %span.divider ｜
    %li 6.完了

  %h3 3.依頼内容の確認
  .content-wrap
    .plan-area
      %h5 カテゴリ／プラン
      %table.table{:style=>"margin-left:50px;"}
        %tr
          %td#index
            %b カテゴリ
          %td= category[@tmp_contest.category]
        %tr
          %td#index
            %b プラン
          %td= @plan_data[@tmp_contest.plan]['name']
        %tr
          %td#index
            %b オプション 
          %td
            -if @tmp_contest.option_earlyend 
              早期終了
            -if @tmp_contest.option_urgent 
              急募
        %tr
          %td#index
            %b 公開設定
          %td
            = open[@tmp_contest.open]
    .clear
  .content-wrap
    .detail-area
      %h5 依頼内容
      %table.table{:style=>"margin-left:50px;"}
        %tr
          %td#index
            %b ロゴ表記名
          %td= @tmp_contest.name
        %tr
          %td#index
            %b サブタイトル
          %td= @tmp_contest.subname
        %tr
          %td#index
            %b 募集期間 
          %td
            = @tmp_contest.term
            日間
        %tr
          %td#index
            %b 業種 
          %td
            = @tmp_contest.industry_1
            = @tmp_contest.industry_2
        %tr
          %td#index
            %b 用途
          %td
            -if @tmp_contest.usage_web
              web,
            -if @tmp_contest.usage_print
              print,
            -if @tmp_contest.usage_package
              package,
            -if @tmp_contest.usage_signboard
              signboard,
            -if @tmp_contest.usage_other
              other
        %tr
          %td#index
            %b 納品フォーマット
          %td
            -if @tmp_contest.format_psd
              psd,
            -if @tmp_contest.format_ai
              ai,
            -if @tmp_contest.format_jpg
              jpg,
            -if @tmp_contest.format_png
              png,
            -if @tmp_contest.format_other
              other,
            -if @tmp_contest.format_eps
              eps,
            -if @tmp_contest.format_indesign
              indesign,
            -if @tmp_contest.format_gif
              gif,
            -if @tmp_contest.format_pdf
              pdf
        %tr
          %td#index
            %b コーポレートカラー
          %td
            -if @tmp_contest.color=='pattern'
              = @tmp_contest.colorpattern_1
              = @tmp_contest.colorpattern_2
              = @tmp_contest.colorpattern_3
            -else
              = @tmp_contest.colorcode_1
              = @tmp_contest.colorcode_2
              = @tmp_contest.colorcode_3
        %tr
          %td#index
            %b 象徴するオブジェクト
          %td= @tmp_contest.parts
        %tr
          %td#index
            %b イメージメーター
          %td
            /= @tmp_contest.image_meter_1
            /= @tmp_contest.image_meter_2
            /= @tmp_contest.image_meter_3
            /= @tmp_contest.image_meter_4
            /= @tmp_contest.image_meter_5
        %tr
          %td#index
            %b ロゴタイプ
          %td
            -if @tmp_contest.logotype_iconic
              .left
                .image
                  =image_tag '/images/mock/logo-type/iconic.gif', :size=>'80x80'
                %span シンボル
            -if @tmp_contest.logotype_illustrative
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/illustrative.gif', :size=>'80x80'
                %span 複合マーク
            -if @tmp_contest.logotype_textual
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/textual.gif', :size=>'80x80'
                %span テキスト
        %tr
          %td#index
            %b ロゴスタイル
          %td
            -if @tmp_contest.logostyle_abstruct
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/abstruct.jpg', :size=>'80x80'
                %span 抽象スタイル 
            -if @tmp_contest.logostyle_brush
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/brush.jpg', :size=>'80x80'
                %span 筆文字 
            -if @tmp_contest.logostyle_character
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/character.jpg', :size=>'80x80'
                %span キャラクター
            -if @tmp_contest.logostyle_emblem
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/emblem.jpg', :size=>'80x80'
                %span エムブレム
            -if @tmp_contest.logostyle_letterform
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/letterform.jpg', :size=>'80x80'
                %span 頭文字 
            -if @tmp_contest.logostyle_picturemark
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/picturemark.jpg', :size=>'80x80'
                %span ピクチャー
            -if @tmp_contest.logostyle_wordmark
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/wordmark.jpg', :size=>'80x80'
                %span ワードマーク
            -if @tmp_contest.logostyle_web20
              .left{:style=>"margin-left:10px;"}
                .image
                  =image_tag '/images/mock/logo-type/web2.0.jpg', :size=>'80x80'
                %span web2.0スタイル
              .clear

        %tr
          %td#index
            %b お気に入りロゴ
          %td
        %tr
          %td#index
            %b 参照URL
          %td= @tmp_contest.reference_url
        %tr
          %td#index
            %b 自由記入欄 
          %td= @tmp_contest.description
  .field
    = f.hidden_field :category, :value=>@tmp_contest.category
    = f.hidden_field :plan, :value=>@tmp_contest.plan
    = f.hidden_field :option_earlyend, :value=>@tmp_contest.option_earlyend
    = f.hidden_field :option_urgent, :value=>@tmp_contest.option_urgent
    = f.hidden_field :open, :value=>@tmp_contest.open
    = f.hidden_field :name, :value=>@tmp_contest.name
    = f.hidden_field :subname, :value=>@tmp_contest.subname
    = f.hidden_field :term, :value=>@tmp_contest.term
    = f.hidden_field :industry_1, :value=>@tmp_contest.industry_1
    = f.hidden_field :industry_2, :value=>@tmp_contest.industry_2
    = f.hidden_field :usage_web, :value=>@tmp_contest.usage_web
    = f.hidden_field :usage_print, :value=>@tmp_contest.usage_print
    = f.hidden_field :usage_package, :value=>@tmp_contest.usage_package
    = f.hidden_field :usage_signboard, :value=>@tmp_contest.usage_signboard
    = f.hidden_field :usage_other, :value=>@tmp_contest.usage_other
    = f.hidden_field :format_psd, :value=>@tmp_contest.format_psd
    = f.hidden_field :format_eps, :value=>@tmp_contest.format_eps
    = f.hidden_field :format_ai, :value=>@tmp_contest.format_ai
    = f.hidden_field :format_indesign, :value=>@tmp_contest.format_indesign
    = f.hidden_field :format_jpg, :value=>@tmp_contest.format_jpg
    = f.hidden_field :format_gif, :value=>@tmp_contest.format_gif
    = f.hidden_field :format_png, :value=>@tmp_contest.format_png
    = f.hidden_field :format_pdf, :value=>@tmp_contest.format_pdf
    = f.hidden_field :format_other, :value=>@tmp_contest.format_other
    = f.hidden_field :color, :value=>@tmp_contest.color
    = f.hidden_field :colorpattern_1, :value=>@tmp_contest.colorpattern_1
    = f.hidden_field :colorpattern_2, :value=>@tmp_contest.colorpattern_2
    = f.hidden_field :colorpattern_3, :value=>@tmp_contest.colorpattern_3
    = f.hidden_field :colorcode_1, :value=>@tmp_contest.colorcode_1
    = f.hidden_field :colorcode_2, :value=>@tmp_contest.colorcode_2
    = f.hidden_field :colorcode_3, :value=>@tmp_contest.colorcode_3
    = f.hidden_field :parts, :value=>@tmp_contest.parts
    = f.hidden_field :logotype_iconic, :value=>@tmp_contest.logotype_iconic
    = f.hidden_field :logotype_illustrative, :value=>@tmp_contest.logotype_illustrative
    = f.hidden_field :logotype_textual, :value=>@tmp_contest.logotype_textual
    = f.hidden_field :logostyle_abstruct, :value=>@tmp_contest.logostyle_abstruct
    = f.hidden_field :logostyle_brush, :value=>@tmp_contest.logostyle_brush
    = f.hidden_field :logostyle_character, :value=>@tmp_contest.logostyle_character
    = f.hidden_field :logostyle_emblem, :value=>@tmp_contest.logostyle_emblem
    = f.hidden_field :logostyle_letterform, :value=>@tmp_contest.logostyle_letterform
    = f.hidden_field :logostyle_picturemark, :value=>@tmp_contest.logostyle_picturemark
    = f.hidden_field :logostyle_web20, :value=>@tmp_contest.logostyle_web20
    = f.hidden_field :logostyle_wordmark, :value=>@tmp_contest.logostyle_wordmark
    = f.hidden_field :favorite_1, :value=>@tmp_contest.favorite_1
    = f.hidden_field :favorite_2, :value=>@tmp_contest.favorite_2
    = f.hidden_field :favorite_3, :value=>@tmp_contest.favorite_3
    = f.hidden_field :reference_url, :value=>@tmp_contest.reference_url
    = f.hidden_field :description, :value=>@tmp_contest.description
    = f.hidden_field :image_meter_1, :value=>@tmp_contest.image_meter_1
    = f.hidden_field :image_meter_2, :value=>@tmp_contest.image_meter_2
    = f.hidden_field :image_meter_3, :value=>@tmp_contest.image_meter_3
    = f.hidden_field :image_meter_4, :value=>@tmp_contest.image_meter_4
    = f.hidden_field :image_meter_5, :value=>@tmp_contest.image_meter_5
  .btn-area
    .previous.btn.btn-inverse
      %a=link_to_function '戻る', 'history.back()'
    %a.next.right= f.submit '支払方法の選択へ進む'
