-if @contest.errors.any?
  #error_explanation
    %h2= "#{pluralize(@contest.errors.count, "error")} prohibited this contest from being saved:"
    %ul
      - @contest.errors.full_messages.each do |msg|
        %li= msg

- tooltip_data = Mock::Tooltip.tooltip_read
- creator_title        =tooltip_data["titles"]["creator_title"]
- copyright_title      =tooltip_data["titles"]["copyright_title"]
- repay_title          =tooltip_data["titles"]["repay_title"]
- highlight_title      =tooltip_data["titles"]["highlight_title"]
- mailmagazine_title   =tooltip_data["titles"]["mailmagazine_title"]
- socialpromotion_title=tooltip_data["titles"]["socialpromotion_title"]
- creator_15           =tooltip_data["explains"]["creator_15"]
- creator_30           =tooltip_data["explains"]["creator_30"]
- creator_50           =tooltip_data["explains"]["creator_50"]
- copyright            =tooltip_data["explains"]["copyright"]
- repay                =tooltip_data["explains"]["repay"]
- highlight            =tooltip_data["explains"]["highlight"]
- mailmagazine         =tooltip_data["explains"]["mailmagazine"]
- socialpromotion      =tooltip_data["explains"]["socialpromotion"]

.wrap
  %ul.breadcrumb
    %li.active 1. カテゴリ/プラン選択
    %span.divider ｜
    %li 2. 依頼内容の入力
    %span.divider ｜
    %li 3. 依頼内容の確認
    %span.divider ｜
    %li 4. 支払方法の選択
    %span.divider ｜
    %li 5.支払内容の確認
    %span.divider ｜
    %li 6.完了
  = form_for(@contest, :url=>inputdetail_contests_path)do |f|
    .field
      %h3 1. カテゴリ/プラン選択
      %a#calc calc
      %a#calc2 calc2
      .input-area.select-category
        %h5 あなたはどのデザインが必要ですか？ ＊
        %table.table
          %tr
            %td.category-name= f.radio_button(:category, 'logo')+' ロゴデザイン'
            %td.prize ¥20,000~
            %td.category-name= f.radio_button(:category, 'namecard')+' 名刺デザイン'
            %td.prize ¥15,000~
          %tr
            %td.category-name= f.radio_button(:category, 'illustration')+' イラストレーション'
            %td.prize ¥20,000~
            %td.category-name= f.radio_button(:category, 'bookcover')+' ブックカバー'
            %td.prize ¥15,000~
          %tr
            %td.category-name= f.radio_button(:category, 'flyer')+' フライヤー'
            %td.prize ¥35,000~
            %td.category-name= f.radio_button(:category, 'brush')+' 書道'
            %td.prize ¥15,000~
          %tr
            %td.category-name= f.radio_button(:category, 'iphone-icon')+' iphoneアプリアイコン'
            %td.prize ¥20,000~
            %td.category-name= f.radio_button(:category, 'other')+' その他'
            %td.prize ¥20,000~
      .input-area.select-plan
        %h5 ご希望の料金プランはどれですか？ ＊
        .plan-select#prize_pattern1
          %table
            %label
              %h4 most popular !!
            %tr
              %td= f.radio_button(:plan, '1-1')+'スタートアッププラン'
              %td= f.radio_button(:plan, '1-2', {:checked=>true})+'ベーシックプラン'
              %td= f.radio_button(:plan, '1-3')+'プレミアムプラン'
            %tr
              %td 
                %h3報酬  ¥15,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥1,800
              %td 
                %h3報酬  ¥20,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥2,000
              %td 
                %h3報酬  ¥35,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥3,000
            %tr
              %td
                #{creator_title}
                %br
                15人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
              %td
                #{creator_title}
                %br
                30人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
              %td
                #{creator_title}
                %br
                50人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
            %tr
              - 3.times do
                %td
                  #{copyright_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{copyright_title}",:'data-content'=>"#{copyright}" }
            %tr
              %td 
              -2.times do
                %td
                  #{repay_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{repay_title}",:'data-content'=>"#{repay}" }
            %tr
              %td 
              -2.times do
                %td
                  #{highlight_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{highlight_title}",:'data-content'=>"#{highlight}" }
            %tr
              %td 
              %td
              %td
                #{mailmagazine_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{mailmagazine_title}",:'data-content'=>"#{mailmagazine}" }
            %tr
              %td 
              %td 
              %td
                #{socialpromotion_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{socialpromotion_title}",:'data-content'=>"#{socialpromotion}" }
        .plan-select#prize_pattern2
          %table
            %label
              %h4 most popular !!
            %tr
              %td= f.radio_button(:plan, '2-1')+'スタートアッププラン'
              %td= f.radio_button(:plan, '2-2')+'ベーシックプラン'
              %td= f.radio_button(:plan, '2-3')+'プレミアムプラン'
            %tr
              %td 
                %h3報酬 ¥20,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料 ¥2,500
              %td 
                %h3報酬  ¥30,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥3,000
              %td 
                %h3報酬  ¥50,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥4,000
            %tr
              %td
                #{creator_title}
                %br
                15人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
              %td
                #{creator_title}
                %br
                30人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_30}" }
              %td
                #{creator_title}
                %br
                50人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_50}" }
            %tr
              - 3.times do
                %td
                  #{copyright_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{copyright_title}",:'data-content'=>"#{copyright}" }
            %tr
              %td 
              -2.times do
                %td
                  #{repay_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{repay_title}",:'data-content'=>"#{repay}" }
            %tr
              %td 
              -2.times do
                %td
                  #{highlight_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{highlight_title}",:'data-content'=>"#{highlight}" }
            %tr
              %td 
              %td
              %td
                #{mailmagazine_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{mailmagazine_title}",:'data-content'=>"#{mailmagazine}" }
            %tr
              %td 
              %td 
              %td
                #{socialpromotion_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{socialpromotion_title}",:'data-content'=>"#{socialpromotion}" }
        .plan-select#prize_pattern3
          %table
            %label
              %h4 most popular !!
            %tr
              %td= f.radio_button(:plan, '3-1')+'スタートアッププラン'
              %td= f.radio_button(:plan, '3-2')+'ベーシックプラン'
              %td= f.radio_button(:plan, '3-3')+'プレミアムプラン'
            %tr
              %td 
                %h3報酬  ¥35,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥4,000
              %td 
                %h3報酬  ¥50,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥5,000
              %td 
                %h3報酬  ¥65,000 
                %h5{:style=>'text-align:center;'}＋
                %h3掲載手数料  ¥5,500
            %tr
              %td
                #{creator_title}
                %br
                15人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
              %td
                #{creator_title}
                %br
                30人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
              %td
                #{creator_title}
                %br
                50人 
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{creator_title}",:'data-content'=>"#{creator_15}" }
            %tr
              - 3.times do
                %td
                  #{copyright_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{copyright_title}",:'data-content'=>"#{copyright}" }
            %tr
              %td 
              -2.times do
                %td
                  #{repay_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{repay_title}",:'data-content'=>"#{repay}" }
            %tr
              %td 
              -2.times do
                %td
                  #{highlight_title}
                  %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{highlight_title}",:'data-content'=>"#{highlight}" }
            %tr
              %td 
              %td
              %td
                #{mailmagazine_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{mailmagazine_title}",:'data-content'=>"#{mailmagazine}" }
            %tr
              %td 
              %td 
              %td
                #{socialpromotion_title}  
                %div.explain-popover.icon-question-sign{:rel=>'popover',:'data-title'=>"#{socialpromotion_title}",:'data-content'=>"#{socialpromotion}" }
      .input-area
        %h5 公開範囲はどうしますか？
        #scope
          %table
            %tr
              %td= f.radio_button(:open, 1, {:checked=>true})+'標準設定'
              %td= f.radio_button(:open, 2)+'クローズ設定'
              %td= f.radio_button(:open, 3)+'シークレット設定'
            %tr
              %td
                %h3{:style=>'text-align:center;'} Free
              %td
                %h3{:style=>'text-align:center;'} +¥2,000
              %td
                %h3{:style=>'text-align:center;'} +¥5,000
            %tr
              %td= 'すべてのユーザーに公開'
              %td= '非会員ユーザーには非公開'
              %td= '非会員ユーザーには非公開'
            %tr
              %td
              %td= '閲覧するには秘密保持契約に同意が必要'
              %td= '閲覧するには秘密保持契約に同意が必要'
            %tr
              %td
              %td
              %td= 'デザインは締切まで完全非公開'

      .input-area
        %h5 オプションは必要ですか？
        #option
          %table
            %tr
              %td= f.check_box(:option_earlyend)+'早期終了オプション'
              %td= f.check_box(:option_urgent)+'急募オプション'
            %tr
              %td
                %h3{:style=>'text-align:center;'} +¥2,000
              %td
                %h3{:style=>'text-align:center;'} +¥3,000
            %tr
              %td= '終了時刻前に募集を締め切ることができる'
              %td= '急募ステイタスが表示される'
            %tr
              %td= 'レスポンスの早いクリエイターが集まることが期待されます'
              %td= 'トップページに表示される'
            %tr
              %td
              %td= '開始3日間で100のデザインが応募されることが期待されます'
    .input-area.showcost-area
      .cart-area
        %h5 トータルコスト 
        %table.table{:style=>"margin-left:150px;"}
          %tr
            %td ロゴデザイン依頼コスト
            %td#cost 0 
            %td 円
          %tr
            %td クレジットカード／ペイパル手数料
            %td 1260 
            %td 円
          %tr
            %td
              %b 合計
            %td
              %b#total 0
            %td 円
      .clear

    .btn-area
      %a.previous.btn.btn-inverse{:href => '/mock/top'}= 'キャンセル'
      - if signed_in
        .next.right
          = f.submit '依頼内容の入力へ進む'
      - else
        .next.btn.btn-inverse.right{:'data-controls-modal'=>'postLoginModal',:'data-backdrop'=>'true'} 依頼内容の入力へ進む 
