%h2 コンテスト一覧

%table.table
  %tr
    %th user_id
    %th contest_id
    %th title
    %th status
    %th category
    %th plan
    %th
    %th
    %th

  - @contests.each do |contest|
    %tr
      %td= contest.user_id
      %td= contest.id
      %td= contest.title
      %td= contest.status
      %td= contest.category
      %td= contest.plan
      %td= link_to 'Show', user_contest_path(@user.id,contest.id)
      %td= link_to 'Edit', edit_user_contest_path(@user.id,contest)
      %td= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete

%br

/= link_to 'New Contest', confirm_contests_path
= link_to 'New Contest', selectplan_contests_path
/= link_to 'New Contest', contests_path
/= link_to 'New Contest', new_contest_path
