= content_for :head do
  = stylesheet_link_tag "/stylesheets/users.css"
.wrap
  %p#notice= notice
  %table.table
    %tr
      %td{:width=>150} アカウントタイプ：
      %td= @user.usertype
    %tr
      %td ユーザー名:
      %td= @user.username
    %tr
      %td パスワード:
      %td= @user.password
    %tr
      %td メールアドレス:
      %td= @user.email
    %tr
      %td 国籍:
      %td= @user.nationality
    %tr
      %td 姓:
      %td= @user.lastname
    %tr
      %td 名:
      %td= @user.firstname
  %h4 世界中にデザインを募集しよう！！ 
  .btn-area
    -if signed_in && @user.usertype=='client'
      %a.btn.btn-info{:href=>'/contests/selectplan'}='デザインを依頼する'
      %a.btn.btn-info{:href=>'/mock/designer_index'}='クリエイターを探す'
    -elsif signed_in && @user.usertype=='creator'
      %a.btn.btn-info{:href=>'/mock/job_index'}='募集中のコンテストを探す'
    -else

