:javascript
  $(function() {
    $("#info-nav").jCarouselLite({
      visible: 1,
      auto: 10000,
      speed: 1000,
    });
  });
.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.nav-collapse
        #search-area.pull-left
        / %input.input-medium.search-query{:type => "text", :placeholder => "Search"}
        #logo-area.pull-left
          %a{:href => '/sessions/new'} Designclue
        #user-area.pull-right
          %ul.nav.pills
            %li.dropdown
              %a.dropdown-toggle{:'data-toggle'=>"dropdown", :href => "#"}
                Japanese
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'English', '#'
                %li= link_to 'Korean','#'
              
            %li.dropdown
              - if signed_in
                %a.dropdown-toggle{:'data-toggle'=>"dropdown", :href => "#"}
                  = current_user.username
                  %b.caret
                %ul.dropdown-menu
                  - if current_user.usertype == 'client'
                    %li= link_to 'お知らせ', '/mock/mypage?category=infomation'
                    %li= link_to 'メッセージ', '/mock/mypage?category=message'
                    %li= link_to 'コンテスト管理', '/mock/mypage?category=contest'
                    %li= link_to 'デザイン管理', '/mock/mypage?category=design'
                    %li= link_to 'プロフィール', '/mock/mypage?category=profile'
                    %li{:style=>'border-bottom:1px solid #CCC;'}= link_to 'お気に入り', '/mock/mypage?category=favorite'
                    %li= link_to 'ログアウト', '/sessions/destroy'
                  - else
                    %li= link_to 'お知らせ', '/mock/mypage?category=infomation'
                    %li= link_to 'メッセージ', '/mock/mypage?category=message'
                    %li= link_to 'マイワークス', '/mock/mypage?category=myworks'
                    %li= link_to 'ポートフォリオ', '/mock/mypage?category=portfolio'
                    %li= link_to 'プロフィール', '/mock/mypage?category=profile'
                    %li= link_to 'ウォッチリスト', '/mock/mypage?category=watchlist'
                    %li{:style=>'border-bottom:1px solid #CCC;'}= link_to 'お気に入り', '/mock/mypage?category=favorite'
                    %li= link_to 'ログアウト', '/sessions/destroy'
              - else
                %a{:'data-controls-modal'=>'loginModal',:'data-backdrop'=>'true'} Sign in
            %li.dropdown
              %a.dropdown-toggle{:'data-toggle'=>"dropdown", :href => "#"}
                About
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'はじめての方', mock_how_it_works_path
                %li{:style=>'border-bottom:1px solid #CCC;'}= link_to '利用ガイド', mock_userguide_1_path
                %li= link_to '著作権','#'
                %li= link_to '決済方法','#'
                %li= link_to '利用規約','#'
                %li= link_to '運営会社','#'
                .clear
.subnavbar
  .container
    #button-container.left
    #info-container.left
      %span= link_to 'コンテストを探す', mock_job_index_path
      %span= link_to 'クリエイターを探す', mock_designer_index_path 
    #link-container.left
      %a.btn.btn-danger{:href=> '/mock/job_post_1'}
        %b デザインを依頼する
.header-space
- if @navigation && !signed_in
  .initial-navigation
    .container
      #info-nav
        %ul
          %li
            .info-container
              .info-area{:style=>'height:165px;'}
                .text-center{:style=>'font-size:20pt;margin-bottom:40px; padding-top:10px;'}
                  世界中にデザインを依頼しよう！
                .text-center{:style=>'font-size:18pt;margin-bottom:30px;'}
                  カスタムデザイン,　グローバルオーダー,　リスクフリー
                .text-center{:style=>'color:blue'}
                  %span{:style=>'font-size:13pt;'} クリエイター数
                  %span{:style=>'font-size:18pt;'} 1744
                  %span &nbsp;&nbsp;&nbsp;&nbsp;
                  %span{:style=>'font-size:13pt;'} 開催中
                  %span{:style=>'font-size:18pt;'} 31
                  %span{:style=>'font-size:13pt;'} コンテスト
              .button-area.text-center
                .text-center
                  %a.btn.btn-danger{:style=>'width:220px;font-size:13pt;',:href=> '/mock/job_post_1'}
                    %b デザインを依頼する
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  %a.btn.btn-info{:style=>'width:220px;font-size:13pt;'}
                    %b 募集中のコンテストを見る
          %li
            .info-container
              .info-area.text-center{:style=>'height:165px;'}
                .text-center{:style=>'font-size:18pt;margin-bottom:15px;'}
                  Designclueは、コンテスト型クラウドソーシングサービスです。
                .text-center{:style=>'font-size:18pt;margin-bottom:15px;'}
                  自分だけのコンテストを開催して、世界中からデザインを集めよう！
                %table{:style=>'margin:auto;'}
                  %tr
                    %td{:style=>'width:200px;font-size:11pt;'} Step1
                    %td{:style=>'width:200px;font-size:11pt;'} Step2
                    %td{:style=>'width:200px;font-size:11pt;'} Step3
                    %td{:style=>'width:200px;font-size:11pt;'} Step4
                  %tr
                    %td 母国語でデザイン募集を記載
                    %td 100のデザインが集まる
                    %td 母国語でフィードバックする
                    %td 最優秀デザインを選ぶ
                  %tr
                    %td= image_tag '/images/mock/step/step1.png', :size=>'50x50'
                    %td= image_tag '/images/mock/step/step2.png', :size=>'50x50'
                    %td= image_tag '/images/mock/step/step3.png', :size=>'50x50'
                    %td= image_tag '/images/mock/step/step4.png', :size=>'50x50'  
              .button-area.text-center
                %a.btn.btn-warning{:href=>'/mock/how_it_works',:style=>'width:220px;font-size:13pt;'}
                  %b はじめての方
                &nbsp;&nbsp;&nbsp;&nbsp;
                %a.btn.btn-success{:style=>'width:220px;font-size:13pt;'}
                  %b 会員登録
            
.header-space
