!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Designclue"
    = csrf_meta_tags
    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "application"
    = javascript_include_tag "/libraries/bootstrap/js/bootstrap.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"
    = javascript_include_tag "/libraries/bootstrap/js/bootstrap-tab.js"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "/libraries/bootstrap/css/bootstrap-responsive.css"
    = stylesheet_link_tag "/libraries/bootstrap/css/bootstrap.css"
    = stylesheet_link_tag "/stylesheets/common.css"
    = stylesheet_link_tag "/stylesheets/header.css"
    :css
      body {
        / padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    :javascript
      $(window).scroll(function(){
      	var scrTop = $(document).scrollTop();
        if (scrTop < 40) {
          $('.subnavbar').css('position','absolute').css('top','40px');
        }
        else {
          $('.subnavbar').css('position','fixed').css('top','0px');        
        }
      });
      $(function() {
        $(".design-upload").click(function(){
          $("#uploadwindow").click();
        });
      });
    - if !signed_in
      :javascript
        $(function(){ 
          var winwidth = $(window).width();
          var boardwidth = 400;
          $('.guideboard').css("left", ((winwidth/2)-(boardwidth/2)));
          if ($('.guideboard').css("display")=="none"){
            $('.guideboard').animate( {height: "toggle"}, "slow");
          }
        });
        $(function(){  
          $("#guide-close").click(function(){
            $('.guideboard').animate( {height: "toggle", opacity: "toggle"}, "slow");
          });
        });
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    = yield :head
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'modals/login'
      %footer.text-center
        %p &copy; PurpleCow 2012 All rights reserved.

        .upload-window
          %input#uploadwindow{:type => 'file'}
